In [1]:
import pandas as pd
import ast
from bs4 import BeautifulSoup
import requests
from textblob import TextBlob

# Limpieza y transformación del dataset de output steam games

In [2]:
# pasamos los archivos a un Dataframe
dfoutput=pd.read_json(r'steam_games.json.gz',lines=True, encoding='MacRoman')

In [3]:
dfoutput.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [268]:
#conservamos las columnas que nos van a servir para nuestros objetivos
dfjuegos=pd.DataFrame(dfoutput[['id','app_name','developer','publisher','release_date','url']].drop_duplicates()[1:])

In [269]:
dfjuegos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            32133 non-null  float64
 1   app_name      32133 non-null  object
 2   developer     28836 non-null  object
 3   publisher     24083 non-null  object
 4   release_date  30068 non-null  object
 5   url           32135 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.7+ MB

In [270]:
#vemos de primera instancia si hay duplicados
dfjuegos.duplicated().sum()

0

In [271]:
#buscamos nulos en el dataframe para tratarlos
dfjuegos.isnull().sum()

id                 2
app_name           2
developer       3299
publisher       8052
release_date    2067
url                0
dtype: int64

In [273]:
#vemos dos nulo en id
dfjuegos[dfjuegos.id.isnull()]

,id,app_name,developer,publisher,release_date,url
88384,NaN,None,None,None,None,http://store.steampowered.com/
119271,NaN,Batman: Arkham City - Game of the Year Edition,"Rocksteady Studios,Feral Interactive (Mac)","Warner Bros. Interactive Entertainment, Feral ...",2012-09-07,http://store.steampowered.com/app/200260

In [274]:
#verficamos si esta duplicado y efectivamente parece que lo esta, comprobamos quitando la columna id
print(dfjuegos[dfjuegos.app_name==dfjuegos.app_name[dfjuegos.id.isnull()].iloc[0]])
dfjuegos.drop(index=dfjuegos.loc[dfjuegos.id.isnull()].index[0],inplace=True)
dfjuegos.drop(index=dfjuegos.loc[dfjuegos.id.isnull()].index[0],inplace=True)
dfjuegos.isnull().sum()

Empty DataFrame
Columns: [id, app_name, developer, publisher, release_date, url]
Index: []

id                 0
app_name           1
developer       3298
publisher       8051
release_date    2066
url                0
dtype: int64

In [275]:
#cambiamos el tipo de dato de la columna id a int
dfjuegos['id']=dfjuegos.id.astype(int)
dfjuegos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 88310 to 120444
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            32133 non-null  int32
 1   app_name      32132 non-null  object
 2   developer     28835 non-null  object
 3   publisher     24082 non-null  object
 4   release_date  30067 non-null  object
 5   url           32133 non-null  object
dtypes: int32(1), object(5)
memory usage: 1.6+ MB

In [276]:
#vemos 1 nulo en app_name
dfjuegos[dfjuegos.app_name.isnull()]

,id,app_name,developer,publisher,release_date,url
90890,317160,None,None,None,2014-08-26,http://store.steampowered.com/app/317160/_/

In [277]:
# el nulo en app_name lo sacamos del url del juego
url=dfoutput.url[dfoutput.id==dfjuegos.id[dfjuegos.app_name.isnull()].iloc[0]].iloc[0]
url

'http://store.steampowered.com/app/317160/_/'

In [278]:
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'html.parser')
titulo=soup.head.title
titulo=titulo.text
titulo=titulo.removesuffix(' on Steam')
titulo

'Save 10% on Duet'

In [279]:
#colocamos el nombre de la aplicacion faltante obtenido de la pagina web y verificamos que la columna app_name ya no tiene nulos
dfjuegos.loc[dfjuegos.app_name.isnull(),'app_name']=titulo
dfjuegos.isnull().sum()

id                 0
app_name           0
developer       3298
publisher       8051
release_date    2066
url                0
dtype: int64

In [280]:
# sustituimos valores nulos de la columna desarrolladores con la columna de publihser, solo en las filas donde no hya nulos en publisher
dfjuegos.loc[(dfjuegos.developer.isnull())&(~dfjuegos.publisher.isnull()),'developer']=dfjuegos.publisher
#sustituimos lo valores nulos restantes con 'N/D'
dfjuegos.loc[(dfjuegos.developer.isnull()),'developer']='N/D'
dfjuegos.isnull().sum()

id                 0
app_name           0
developer          0
publisher       8051
release_date    2066
url                0
dtype: int64

In [281]:
#quitamos la columna publisher, ya que solo nos interesa la de desarrollador
dfjuegos.drop(columns='publisher',inplace=True)
dfjuegos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 88310 to 120444
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            32133 non-null  int32
 1   app_name      32133 non-null  object
 2   developer     32133 non-null  object
 3   release_date  30067 non-null  object
 4   url           32133 non-null  object
dtypes: int32(1), object(4)
memory usage: 2.4+ MB

In [282]:
#sacamos el año de lanzamiento de la columna release_date y quitamos la columna release_date
dfjuegos['Año_lanzamiento']=dfjuegos.release_date.str.split('-',expand=True)[0]

In [283]:
dfjuegos.head()

,id,app_name,developer,release_date,url,Año_lanzamiento
88310,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,http://store.steampowered.com/app/761140/Lost_...,2018
88311,643980,Ironbound,Secret Level SRL,2018-01-04,http://store.steampowered.com/app/643980/Ironb...,2018
88312,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,http://store.steampowered.com/app/670290/Real_...,2017
88313,767400,弹炸人2222,彼岸领域,2017-12-07,http://store.steampowered.com/app/767400/2222/,2017
88314,773570,Log Challenge,N/D,None,http://store.steampowered.com/app/773570/Log_C...,None

In [284]:
#renombramos los nombres de las columnas
dfjuegos.rename(columns={'Año lanzamiento':'Año_lanzamiento','app_name':'Nombre','developer':'Desarrollador','id':'Id_juego'},inplace=True)

In [285]:
#hacemos una lista de los años que hay en la columna Año_de_lanzamiento
años=[]
for a in dfjuegos.Año_lanzamiento.sort_values().unique():
    try:
        int(a)
    except:
        continue
    else:
        años.append(a)
años[0:5]

['1970', '1975', '1980', '1981', '1982']

In [286]:
#cambiamos las filas que tienen el año en una parte de su cadena a contener solo el dato del año
for a in años:
    dfjuegos.loc[dfjuegos.Año_lanzamiento.str.contains(a,na=False),'Año_lanzamiento']=a

In [ ]:
#haciendo webscrapping, con los datos que tenemos podemos sacar el año de lanzamiento faltante
url=dfjuegos[['url']][dfjuegos.release_date.isnull()].iloc[0][0]
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'html.parser')
text=soup.get_text()
print(soup.prettify())
print(text)
div_subtitulo = soup.find('div', class_='date')
div_subtitulo.text.strip("<div class='date'")

In [299]:
#haciendo webscrapping, con los datos que tenemos buscamos el año para cada juego faltante
for a in dfjuegos.url[dfjuegos.Año_lanzamiento.isnull()]:
    url=a
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    div_subtitulo = soup.find('div', class_='date')
    try:
        dfjuegos.loc[dfjuegos.url==a,'Año_lanzamiento']=str(div_subtitulo.text.strip("<div class='date'").split()[-1])
    except:
        continue

In [ ]:
#vemos que hay valores nulos aun que no se pudieron recuperar de la web de steam
dfjuegos.isnull().sum()

In [303]:
#rellenamos nulos con el valor'N/D'
dfjuegos.loc[dfjuegos.Año_lanzamiento.isnull(),'Año_lanzamiento']='N/D'
dfjuegos.isnull().sum()

Id_juego              0
Nombre                0
Desarrollador         0
release_date       2066
url                   0
Año_lanzamiento       0
dtype: int64

In [304]:
dfjuegos.Año_lanzamiento.sort_values().unique()

array(['"""Soon"""',
       '0̵1̴0̵0̶1̷0̶0̵0̴ ̴0̶0̶1̶1̶0̷0̶1̵1̴ ̸0̶0̶1̶1̵0̶1̷0̴0̵ ̴0̶1̷0̸1̵0̷0̴1̶0̴ ̴0̷0̴1̷1̶0̶1̵1̷1̵ ̵',
       '14 July', '1970', '1975', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       'Beta测试已开启', "C'est bientôt...                    (ou pas)",
       'Coming Soon', 'Coming Soon!', 'Coming Soon/Próximamente',
       'Coming soon', 'Coming soon..', 'Comming Soon',
       'Datachunks conflicted. Be vigiliant.', 'Demo coming soon.',
       'Demo is available now!', 'Early Access Starting Soon!',
       'Early Access soon', 'N/D', 'Not yet available',
       'Play Beta in demo!', 'Please wait warmly', 'Release Date TBA',
       'SOON', 'SOON™', 'Soon', 'Soon..', 'Soon™', 'TBA', 'TBD',
       'To Be Announced', 'To be Announced', 'To be announced',
       'When it is finished', 'When it is ready', "When it's done",
       "When it's done!", 'coming soon', 'early access', 'soon',
       '预热群52756441'], dtype=object)

In [308]:
# se hace una lista de los datos que asiguen pendientes en la columna año de lanzamiento, y haciendo investigacion se encuentra que los juegos fueron lanzados alrededor del 2018 en adelante
datossinaño=[]
for a in dfjuegos.Año_lanzamiento.sort_values().unique():
    if a not in años  and a!='N/D':
        datossinaño.append(a)
datossinaño

['"""Soon"""',
 '0̵1̴0̵0̶1̷0̶0̵0̴ ̴0̶0̶1̶1̶0̷0̶1̵1̴ ̸0̶0̶1̶1̵0̶1̷0̴0̵ ̴0̶1̷0̸1̵0̷0̴1̶0̴ ̴0̷0̴1̷1̶0̶1̵1̷1̵ ̵',
 '14 July',
 '2020',
 '2022',
 '2023',
 'Beta测试已开启',
 "C'est bientôt...                    (ou pas)",
 'Coming Soon',
 'Coming Soon!',
 'Coming Soon/Próximamente',
 'Coming soon',
 'Coming soon..',
 'Comming Soon',
 'Datachunks conflicted. Be vigiliant.',
 'Demo coming soon.',
 'Demo is available now!',
 'Early Access Starting Soon!',
 'Early Access soon',
 'Not yet available',
 'Play Beta in demo!',
 'Please wait warmly',
 'Release Date TBA',
 'SOON',
 'SOON™',
 'Soon',
 'Soon..',
 'Soon™',
 'TBA',
 'TBD',
 'To Be Announced',
 'To be Announced',
 'To be announced',
 'When it is finished',
 'When it is ready',
 "When it's done",
 "When it's done!",
 'coming soon',
 'early access',
 'soon',
 '预热群52756441']

In [309]:
#
dfjuegos.url[dfjuegos.Año_lanzamiento.isin(datossinaño)]

88320     http://store.steampowered.com/app/768570/Uncan...
88352     http://store.steampowered.com/app/662570/Unite...
88354     http://store.steampowered.com/app/714020/Idle_...
88355     http://store.steampowered.com/app/541930/Panop...
88363     http://store.steampowered.com/app/374970/Golf_...
                                ...
120302    http://store.steampowered.com/app/391480/Mutat...
120310    http://store.steampowered.com/app/689820/Spy_o...
120318       http://store.steampowered.com/app/519860/DUSK/
120397    http://store.steampowered.com/app/755830/Lonel...
120398    http://store.steampowered.com/app/708070/RECHA...
Name: url, Length: 190, dtype: object

In [310]:
#haciendo webscrapping, con los datos que tenemos sin dato exacto del año los buscamos 
for a in dfjuegos.url[dfjuegos.Año_lanzamiento.isin(datossinaño)]:
    url=a
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    div_subtitulo = soup.find('div', class_='date')
    try:
        dfjuegos.loc[dfjuegos.url==a,'Año_lanzamiento']=str(div_subtitulo.text.strip("<div class='date'").split()[-1])
    except:
        continue

In [312]:
# se vuelve a hacer una lista de los añosque siguen pendientes en la columna año de lanzamiento al igual que una con los años en formato correcto

años=[]
for a in dfjuegos.Año_lanzamiento.sort_values().unique():
    try:
        int(a)
    except:
        continue
    else:
        años.append(a)
años[0:5]
datossinaño=[]
for a in dfjuegos.Año_lanzamiento.sort_values().unique():
    if a not in años  and a!='N/D':
        datossinaño.append(a)
datossinaño

['0̵1̴0̵0̶1̷0̶0̵0̴ ̴0̶0̶1̶1̶0̷0̶1̵1̴ ̸0̶0̶1̶1̵0̶1̷0̴0̵ ̴0̶1̷0̸1̵0̷0̴1̶0̴ ̴0̷0̴1̷1̶0̶1̵1̷1̵ ̵',
 'Coming Soon',
 'SOON',
 'Soon',
 'TBD',
 'announ',
 'soon']

In [314]:
# estos datos sin años represnetan solo una pequeña parte de nuestro dataset de juegos, se les imputara el valor de N/D,
#ya que represntan una peueña parte de nuestro dataset de juegos
dfjuegos.loc[dfjuegos.Año_lanzamiento.isin(datossinaño),'Año_lanzamiento']='N/D'

In [315]:
#hacemos una lista de los años que hay en la columna Año_de_lanzamiento y comprobamos que ya estan normalizados todos los datos del año de lanzamiento
dfjuegos.Año_lanzamiento.sort_values().unique()

array(['1970', '1975', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'N/D'],
      dtype=object)

In [316]:
# unimos los generos al dataframe de juegos
dfjuegos=dfjuegos.join(dfoutput[['genres','tags']],how='inner')

In [317]:
dfjuegos.head()

,Id_juego,Nombre,Desarrollador,release_date,url,Año_lanzamiento,genres,tags
88310,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,http://store.steampowered.com/app/761140/Lost_...,2018,"[Action, Casual, Indie, Simulation, Strategy]","[Strategy, Action, Indie, Casual, Simulation]"
88311,643980,Ironbound,Secret Level SRL,2018-01-04,http://store.steampowered.com/app/643980/Ironb...,2018,"[Free to Play, Indie, RPG, Strategy]","[Free to Play, Strategy, Indie, RPG, Card Game..."
88312,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,http://store.steampowered.com/app/670290/Real_...,2017,"[Casual, Free to Play, Indie, Simulation, Sports]","[Free to Play, Simulation, Sports, Casual, Ind..."
88313,767400,弹炸人2222,彼岸领域,2017-12-07,http://store.steampowered.com/app/767400/2222/,2017,"[Action, Adventure, Casual]","[Action, Adventure, Casual]"
88314,773570,Log Challenge,N/D,None,http://store.steampowered.com/app/773570/Log_C...,2018,None,"[Action, Indie, Casual, Sports]"

In [318]:
#vemos cuantos generos sin dato hay
dfjuegos.genres.isnull().sum()

3282

In [388]:
dfjuegos[dfjuegos.genres=='Title: Robotpencil Presents: Character Design - Horror Genre']

,Id_juego,Nombre,Desarrollador,release_date,url,Año_lanzamiento,genres,tags
93094,413910,Robotpencil Presents: Character Design - Horro...,N/D,2015-11-12,http://store.steampowered.com/app/413910/Robot...,2015,Title: Robotpencil Presents: Character Design ...,"[Design & Illustration, Tutorial]"

In [392]:
dfjuegos[dfjuegos.genres.isnull()]

,Id_juego,Nombre,Desarrollador,release_date,url,Año_lanzamiento,genres,tags
88336,777910,Robotpencil Presents: Understanding 3D for Con...,N/D,2018-01-03,http://store.steampowered.com/app/777910/Robot...,2018,None,"[Design & Illustration, Tutorial]"
88361,769350,Medicalholodeck Personal Version,N/D,None,http://store.steampowered.com/app/769350/Medic...,N/D,None,[Education]
88459,12580,Dr. Daisy Pet Vet,Zemnott,2008-01-08,http://store.steampowered.com/app/12580/Dr_Dai...,2008,None,[Casual]
88461,12570,Hot Dish,Zemnott,2008-01-12,http://store.steampowered.com/app/12570/Hot_Dish/,2008,None,[Casual]
88562,22340,Call of Cthulhu®: Dark Corners of the Earth,Headfirst Productions,2006-04-26,http://store.steampowered.com/app/22340/Call_o...,2006,None,"[Horror, Lovecraftian, Survival Horror, First-..."
...,...,...,...,...,...,...,...,...
120297,775660,Robotpencil Presents: Start with Color,N/D,2017-12-28,http://store.steampowered.com/app/775660/Robot...,2017,None,"[Design & Illustration, Tutorial]"
120428,775640,Robotpencil Presents: Exercise: Brushwork,N/D,2018-01-03,http://store.steampowered.com/app/775640/Robot...,2018,None,"[Design & Illustration, Tutorial]"
120429,777930,Robotpencil Presents: Creative Composition,N/D,2018-01-03,http://store.steampowered.com/app/777930/Robot...,2018,None,"[Design & Illustration, Tutorial]"
120430,775370,The Gamble House,N/D,2016-11-19,http://store.steampowered.com/app/775370/The_G...,2016,None,[Movie]
120431,777950,Kalen Chock Presents: 2017 Free Tutorial,N/D,2018-01-03,http://store.steampowered.com/app/777950/Kalen...,2018,None,"[Design & Illustration, Tutorial]"

In [380]:
#hacemos webscrapping con los generos que no sabemos
for a in dfjuegos['url'][dfjuegos.genres.isnull()]:
    url=a
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    div_subtitulo = soup.find('div', class_='block_content_inner')
    try:
        for b in div_subtitulo.text.split('\n'):
            if 'Genre' in b:
                b=b.replace('Genre: ','')
                dfjuegos.loc[dfjuegos.url==a,'genres']=b
                print(f'nulos restantes:{dfjuegos.genres.isnull().sum()}')
                break
    except:
        continue

nulos restantes:3281
nulos restantes:3280
nulos restantes:3279
nulos restantes:3278
nulos restantes:3277
nulos restantes:3276
nulos restantes:3275
nulos restantes:3274
nulos restantes:3273
nulos restantes:3272
nulos restantes:3271
nulos restantes:3270
nulos restantes:3269
nulos restantes:3268
nulos restantes:3267
nulos restantes:3266
nulos restantes:3265
nulos restantes:3264
nulos restantes:3263
nulos restantes:3262
nulos restantes:3261
nulos restantes:3260
nulos restantes:3259
nulos restantes:3258
nulos restantes:3257
nulos restantes:3256
nulos restantes:3255
nulos restantes:3254
nulos restantes:3253
nulos restantes:3252
nulos restantes:3251
nulos restantes:3250
nulos restantes:3249
nulos restantes:3248
nulos restantes:3247
nulos restantes:3246
nulos restantes:3245
nulos restantes:3244
nulos restantes:3243
nulos restantes:3242
nulos restantes:3241
nulos restantes:3240
nulos restantes:3239
nulos restantes:3238
nulos restantes:3237
nulos restantes:3236
nulos restantes:3235
nulos restantes:3234
nulos restantes:3233
nulos restantes:3232
nulos restantes:3231
nulos restantes:3230
nulos restantes:3229
nulos restantes:3228
nulos restantes:3227
nulos restantes:3226
nulos restantes:3225
nulos restantes:3224
nulos restantes:3223
nulos restantes:3222
nulos restantes:3221
nulos restantes:3220
nulos restantes:3219
nulos restantes:3218
nulos restantes:3217
nulos restantes:3216
nulos restantes:3215
nulos restantes:3214
nulos restantes:3213
nulos restantes:3212
nulos restantes:3211
nulos restantes:3210
nulos restantes:3209
nulos restantes:3208
nulos restantes:3207
nulos restantes:3206
nulos restantes:3205
nulos restantes:3204
nulos restantes:3203
nulos restantes:3202
nulos restantes:3201
nulos restantes:3200
nulos restantes:3199
nulos restantes:3198
nulos restantes:3197
nulos restantes:3196
nulos restantes:3195
nulos restantes:3194
nulos restantes:3193
nulos restantes:3192
nulos restantes:3191
nulos restantes:3190
nulos restantes:3189
nulos restantes:3188
nulos restantes:3187
nulos restantes:3186
nulos restantes:3185
nulos restantes:3184
nulos restantes:3183
nulos restantes:3182
nulos restantes:3181
nulos restantes:3180
nulos restantes:3179
nulos restantes:3178
nulos restantes:3177
nulos restantes:3176
nulos restantes:3175
nulos restantes:3174
nulos restantes:3173
nulos restantes:3172
nulos restantes:3171
nulos restantes:3170
nulos restantes:3169
nulos restantes:3168
nulos restantes:3167
nulos restantes:3166
nulos restantes:3165
nulos restantes:3164
nulos restantes:3163
nulos restantes:3162
nulos restantes:3161
nulos restantes:3160
nulos restantes:3159
nulos restantes:3158
nulos restantes:3157
nulos restantes:3156
nulos restantes:3155
nulos restantes:3154
nulos restantes:3153
nulos restantes:3152
nulos restantes:3151
nulos restantes:3150
nulos restantes:3149
nulos restantes:3148
nulos restantes:3147
nulos restantes:3146
nulos restantes:3145
nulos restantes:3144
nulos restantes:3143
nulos restantes:3142
nulos restantes:3141
nulos restantes:3140
nulos restantes:3139
nulos restantes:3138
nulos restantes:3137
nulos restantes:3136
nulos restantes:3135
nulos restantes:3134
nulos restantes:3133
nulos restantes:3132
nulos restantes:3131
nulos restantes:3130
nulos restantes:3129
nulos restantes:3128
nulos restantes:3127
nulos restantes:3126
nulos restantes:3125
nulos restantes:3124
nulos restantes:3123
nulos restantes:3122
nulos restantes:3121
nulos restantes:3120
nulos restantes:3119
nulos restantes:3118
nulos restantes:3117
nulos restantes:3116
nulos restantes:3115
nulos restantes:3114
nulos restantes:3113
nulos restantes:3112
nulos restantes:3111
nulos restantes:3110
nulos restantes:3109
nulos restantes:3108
nulos restantes:3107
nulos restantes:3106
nulos restantes:3105
nulos restantes:3104
nulos restantes:3103
nulos restantes:3102
nulos restantes:3101
nulos restantes:3100
nulos restantes:3099
nulos restantes:3098
nulos restantes:3097
nulos restantes:3096
nulos restantes:3095
nulos restantes:3094
nulos restantes:3093
nulos restantes:3092
nulos restantes:3091
nulos restantes:3090
nulos restantes:3089
nulos restantes:3088
nulos restantes:3087
nulos restantes:3086
nulos restantes:3085
nulos restantes:3084
nulos restantes:3083
nulos restantes:3082
nulos restantes:3081
nulos restantes:3080
nulos restantes:3079
nulos restantes:3078
nulos restantes:3077
nulos restantes:3076
nulos restantes:3075
nulos restantes:3074
nulos restantes:3073
nulos restantes:3072
nulos restantes:3071
nulos restantes:3070
nulos restantes:3069
nulos restantes:3068
nulos restantes:3067
nulos restantes:3066
nulos restantes:3065
nulos restantes:3064
nulos restantes:3063
nulos restantes:3062
nulos restantes:3061
nulos restantes:3060
nulos restantes:3059
nulos restantes:3058
nulos restantes:3057
nulos restantes:3056
nulos restantes:3055
nulos restantes:3054
nulos restantes:3053
nulos restantes:3052
nulos restantes:3051
nulos restantes:3050
nulos restantes:3049
nulos restantes:3048
nulos restantes:3047
nulos restantes:3046
nulos restantes:3045
nulos restantes:3044
nulos restantes:3043
nulos restantes:3042
nulos restantes:3041
nulos restantes:3040
nulos restantes:3039
nulos restantes:3038
nulos restantes:3037
nulos restantes:3036
nulos restantes:3035
nulos restantes:3034
nulos restantes:3033
nulos restantes:3032
nulos restantes:3031
nulos restantes:3030
nulos restantes:3029
nulos restantes:3028
nulos restantes:3027
nulos restantes:3026
nulos restantes:3025
nulos restantes:3024
nulos restantes:3023
nulos restantes:3022
nulos restantes:3021
nulos restantes:3020
nulos restantes:3019
nulos restantes:3018
nulos restantes:3017
nulos restantes:3016
nulos restantes:3015
nulos restantes:3014
nulos restantes:3013
nulos restantes:3012
nulos restantes:3011
nulos restantes:3010
nulos restantes:3009
nulos restantes:3008
nulos restantes:3007
nulos restantes:3006
nulos restantes:3005
nulos restantes:3004
nulos restantes:3003
nulos restantes:3002
nulos restantes:3001
nulos restantes:3000
nulos restantes:2999
nulos restantes:2998
nulos restantes:2997
nulos restantes:2996
nulos restantes:2995
nulos restantes:2994
nulos restantes:2993
nulos restantes:2992
nulos restantes:2991
nulos restantes:2990
nulos restantes:2989
nulos restantes:2988
nulos restantes:2987
nulos restantes:2986
nulos restantes:2985
nulos restantes:2984
nulos restantes:2983
nulos restantes:2982
nulos restantes:2981
nulos restantes:2980
nulos restantes:2979
nulos restantes:2978
nulos restantes:2977
nulos restantes:2976
nulos restantes:2975
nulos restantes:2974
nulos restantes:2973
nulos restantes:2972
nulos restantes:2971
nulos restantes:2970
nulos restantes:2969
nulos restantes:2968
nulos restantes:2967
nulos restantes:2966
nulos restantes:2965
nulos restantes:2964
nulos restantes:2963
nulos restantes:2962
nulos restantes:2961
nulos restantes:2960
nulos restantes:2959
nulos restantes:2958
nulos restantes:2957
nulos restantes:2956
nulos restantes:2955
nulos restantes:2954
nulos restantes:2953
nulos restantes:2952
nulos restantes:2951
nulos restantes:2950
nulos restantes:2949
nulos restantes:2948
nulos restantes:2947
nulos restantes:2946
nulos restantes:2945
nulos restantes:2944
nulos restantes:2943
nulos restantes:2942
nulos restantes:2941
nulos restantes:2940
nulos restantes:2939
nulos restantes:2938
nulos restantes:2937
nulos restantes:2936
nulos restantes:2935
nulos restantes:2934
nulos restantes:2933
nulos restantes:2932
nulos restantes:2931
nulos restantes:2930
nulos restantes:2929
nulos restantes:2928
nulos restantes:2927
nulos restantes:2926
nulos restantes:2925
nulos restantes:2924
nulos restantes:2923
nulos restantes:2922
nulos restantes:2921
nulos restantes:2920
nulos restantes:2919
nulos restantes:2918
nulos restantes:2917
nulos restantes:2916
nulos restantes:2915
nulos restantes:2914
nulos restantes:2913
nulos restantes:2912
nulos restantes:2911
nulos restantes:2910
nulos restantes:2909
nulos restantes:2908
nulos restantes:2907
nulos restantes:2906
nulos restantes:2905
nulos restantes:2904
nulos restantes:2903
nulos restantes:2902
nulos restantes:2901
nulos restantes:2900
nulos restantes:2899
nulos restantes:2898
nulos restantes:2897
nulos restantes:2896
nulos restantes:2895
nulos restantes:2894
nulos restantes:2893
nulos restantes:2892
nulos restantes:2891
nulos restantes:2890
nulos restantes:2889
nulos restantes:2888
nulos restantes:2887
nulos restantes:2886
nulos restantes:2885
nulos restantes:2884
nulos restantes:2883
nulos restantes:2882
nulos restantes:2881
nulos restantes:2880
nulos restantes:2879
nulos restantes:2878
nulos restantes:2877
nulos restantes:2876
nulos restantes:2875
nulos restantes:2874
nulos restantes:2873
nulos restantes:2872
nulos restantes:2871
nulos restantes:2870
nulos restantes:2869
nulos restantes:2868
nulos restantes:2867
nulos restantes:2866
nulos restantes:2865
nulos restantes:2864
nulos restantes:2863
nulos restantes:2862
nulos restantes:2861
nulos restantes:2860
nulos restantes:2859
nulos restantes:2858
nulos restantes:2857
nulos restantes:2856
nulos restantes:2855
nulos restantes:2854
nulos restantes:2853
nulos restantes:2852
nulos restantes:2851
nulos restantes:2850
nulos restantes:2849
nulos restantes:2848
nulos restantes:2847
nulos restantes:2846
nulos restantes:2845
nulos restantes:2844
nulos restantes:2843
nulos restantes:2842
nulos restantes:2841
nulos restantes:2840
nulos restantes:2839
nulos restantes:2838
nulos restantes:2837
nulos restantes:2836
nulos restantes:2835
nulos restantes:2834
nulos restantes:2833
nulos restantes:2832
nulos restantes:2831
nulos restantes:2830
nulos restantes:2829
nulos restantes:2828
nulos restantes:2827
nulos restantes:2826
nulos restantes:2825
nulos restantes:2824
nulos restantes:2823
nulos restantes:2822
nulos restantes:2821
nulos restantes:2820
nulos restantes:2819
nulos restantes:2818
nulos restantes:2817
nulos restantes:2816
nulos restantes:2815
nulos restantes:2814
nulos restantes:2813
nulos restantes:2812
nulos restantes:2811
nulos restantes:2810
nulos restantes:2809
nulos restantes:2808
nulos restantes:2807
nulos restantes:2806
nulos restantes:2805
nulos restantes:2804
nulos restantes:2803
nulos restantes:2802
nulos restantes:2801
nulos restantes:2800
nulos restantes:2799
nulos restantes:2798
nulos restantes:2797
nulos restantes:2796
nulos restantes:2795
nulos restantes:2794
nulos restantes:2793
nulos restantes:2792
nulos restantes:2791
nulos restantes:2790
nulos restantes:2789
nulos restantes:2788
nulos restantes:2787
nulos restantes:2786
nulos restantes:2785
nulos restantes:2784
nulos restantes:2783
nulos restantes:2782
nulos restantes:2781
nulos restantes:2780
nulos restantes:2779
nulos restantes:2778
nulos restantes:2777
nulos restantes:2776
nulos restantes:2775
nulos restantes:2774
nulos restantes:2773
nulos restantes:2772
nulos restantes:2771
nulos restantes:2770
nulos restantes:2769
nulos restantes:2768
nulos restantes:2767
nulos restantes:2766
nulos restantes:2765
nulos restantes:2764
nulos restantes:2763
nulos restantes:2762
nulos restantes:2761
nulos restantes:2760
nulos restantes:2759
nulos restantes:2758
nulos restantes:2757
nulos restantes:2756
nulos restantes:2755
nulos restantes:2754
nulos restantes:2753
nulos restantes:2752
nulos restantes:2751
nulos restantes:2750
nulos restantes:2749
nulos restantes:2748
nulos restantes:2747
nulos restantes:2746
nulos restantes:2745
nulos restantes:2744
nulos restantes:2743
nulos restantes:2742
nulos restantes:2741
nulos restantes:2740
nulos restantes:2739
nulos restantes:2738
nulos restantes:2737
nulos restantes:2736
nulos restantes:2735
nulos restantes:2734
nulos restantes:2733
nulos restantes:2732
nulos restantes:2731
nulos restantes:2730
nulos restantes:2729
nulos restantes:2728
nulos restantes:2727
nulos restantes:2726
nulos restantes:2725
nulos restantes:2724
nulos restantes:2723
nulos restantes:2722
nulos restantes:2721
nulos restantes:2720
nulos restantes:2719
nulos restantes:2718
nulos restantes:2717
nulos restantes:2716
nulos restantes:2715
nulos restantes:2714
nulos restantes:2713
nulos restantes:2712
nulos restantes:2711
nulos restantes:2710
nulos restantes:2709
nulos restantes:2708
nulos restantes:2707
nulos restantes:2706
nulos restantes:2705
nulos restantes:2704
nulos restantes:2703
nulos restantes:2702
nulos restantes:2701
nulos restantes:2700
nulos restantes:2699
nulos restantes:2698
nulos restantes:2697
nulos restantes:2696
nulos restantes:2695
nulos restantes:2694
nulos restantes:2693
nulos restantes:2692
nulos restantes:2691
nulos restantes:2690
nulos restantes:2689
nulos restantes:2688
nulos restantes:2687
nulos restantes:2686
nulos restantes:2685
nulos restantes:2684
nulos restantes:2683
nulos restantes:2682
nulos restantes:2681
nulos restantes:2680
nulos restantes:2679
nulos restantes:2678
nulos restantes:2677
nulos restantes:2676
nulos restantes:2675
nulos restantes:2674
nulos restantes:2673
nulos restantes:2672
nulos restantes:2671
nulos restantes:2670
nulos restantes:2669
nulos restantes:2668
nulos restantes:2667
nulos restantes:2666
nulos restantes:2665
nulos restantes:2664
nulos restantes:2663
nulos restantes:2662
nulos restantes:2661
nulos restantes:2660
nulos restantes:2659
nulos restantes:2658
nulos restantes:2657
nulos restantes:2656
nulos restantes:2655
nulos restantes:2654
nulos restantes:2653
nulos restantes:2652
nulos restantes:2651
nulos restantes:2650
nulos restantes:2649
nulos restantes:2648
nulos restantes:2647
nulos restantes:2646
nulos restantes:2645
nulos restantes:2644
nulos restantes:2643
nulos restantes:2642
nulos restantes:2641
nulos restantes:2640
nulos restantes:2639
nulos restantes:2638
nulos restantes:2637
nulos restantes:2636
nulos restantes:2635
nulos restantes:2634
nulos restantes:2633
nulos restantes:2632
nulos restantes:2631
nulos restantes:2630
nulos restantes:2629
nulos restantes:2628
nulos restantes:2627
nulos restantes:2626
nulos restantes:2625
nulos restantes:2624
nulos restantes:2623
nulos restantes:2622
nulos restantes:2621
nulos restantes:2620
nulos restantes:2619
nulos restantes:2618
nulos restantes:2617
nulos restantes:2616
nulos restantes:2615
nulos restantes:2614
nulos restantes:2613
nulos restantes:2612
nulos restantes:2611
nulos restantes:2610
nulos restantes:2609
nulos restantes:2608
nulos restantes:2607
nulos restantes:2606
nulos restantes:2605
nulos restantes:2604
nulos restantes:2603
nulos restantes:2602
nulos restantes:2601
nulos restantes:2600
nulos restantes:2599
nulos restantes:2598
nulos restantes:2597
nulos restantes:2596
nulos restantes:2595
nulos restantes:2594
nulos restantes:2593
nulos restantes:2592
nulos restantes:2591
nulos restantes:2590
nulos restantes:2589
nulos restantes:2588
nulos restantes:2587
nulos restantes:2586
nulos restantes:2585
nulos restantes:2584
nulos restantes:2583
nulos restantes:2582
nulos restantes:2581
nulos restantes:2580
nulos restantes:2579
nulos restantes:2578
nulos restantes:2577
nulos restantes:2576
nulos restantes:2575
nulos restantes:2574
nulos restantes:2573
nulos restantes:2572
nulos restantes:2571
nulos restantes:2570
nulos restantes:2569
nulos restantes:2568
nulos restantes:2567
nulos restantes:2566
nulos restantes:2565
nulos restantes:2564
nulos restantes:2563
nulos restantes:2562
nulos restantes:2561
nulos restantes:2560
nulos restantes:2559
nulos restantes:2558
nulos restantes:2557
nulos restantes:2556
nulos restantes:2555
nulos restantes:2554
nulos restantes:2553
nulos restantes:2552
nulos restantes:2551
nulos restantes:2550
nulos restantes:2549
nulos restantes:2548
nulos restantes:2547
nulos restantes:2546
nulos restantes:2545
nulos restantes:2544
nulos restantes:2543
nulos restantes:2542
nulos restantes:2541
nulos restantes:2540
nulos restantes:2539
nulos restantes:2538
nulos restantes:2537
nulos restantes:2536
nulos restantes:2535
nulos restantes:2534
nulos restantes:2533
nulos restantes:2532
nulos restantes:2531
nulos restantes:2530
nulos restantes:2529
nulos restantes:2528
nulos restantes:2527
nulos restantes:2526
nulos restantes:2525
nulos restantes:2524
nulos restantes:2523
nulos restantes:2522
nulos restantes:2521
nulos restantes:2520
nulos restantes:2519
nulos restantes:2518
nulos restantes:2517
nulos restantes:2516
nulos restantes:2515
nulos restantes:2514
nulos restantes:2513
nulos restantes:2512
nulos restantes:2511
nulos restantes:2510
nulos restantes:2509
nulos restantes:2508
nulos restantes:2507
nulos restantes:2506
nulos restantes:2505
nulos restantes:2504
nulos restantes:2503
nulos restantes:2502
nulos restantes:2501
nulos restantes:2500
nulos restantes:2499
nulos restantes:2498
nulos restantes:2497
nulos restantes:2496
nulos restantes:2495
nulos restantes:2494
nulos restantes:2493
nulos restantes:2492
nulos restantes:2491
nulos restantes:2490
nulos restantes:2489
nulos restantes:2488
nulos restantes:2487
nulos restantes:2486
nulos restantes:2485
nulos restantes:2484
nulos restantes:2483
nulos restantes:2482
nulos restantes:2481
nulos restantes:2480
nulos restantes:2479
nulos restantes:2478
nulos restantes:2477
nulos restantes:2476
nulos restantes:2475
nulos restantes:2474
nulos restantes:2473
nulos restantes:2472
nulos restantes:2471
nulos restantes:2470
nulos restantes:2469
nulos restantes:2468
nulos restantes:2467
nulos restantes:2466
nulos restantes:2465
nulos restantes:2464
nulos restantes:2463
nulos restantes:2462
nulos restantes:2461
nulos restantes:2460
nulos restantes:2459
nulos restantes:2458
nulos restantes:2457
nulos restantes:2456
nulos restantes:2455
nulos restantes:2454
nulos restantes:2453
nulos restantes:2452
nulos restantes:2451
nulos restantes:2450
nulos restantes:2449
nulos restantes:2448
nulos restantes:2447
nulos restantes:2446
nulos restantes:2445
nulos restantes:2444
nulos restantes:2443
nulos restantes:2442
nulos restantes:2441
nulos restantes:2440
nulos restantes:2439
nulos restantes:2438
nulos restantes:2437
nulos restantes:2436
nulos restantes:2435
nulos restantes:2434
nulos restantes:2433
nulos restantes:2432
nulos restantes:2431
nulos restantes:2430
nulos restantes:2429
nulos restantes:2428
nulos restantes:2427
nulos restantes:2426
nulos restantes:2425
nulos restantes:2424
nulos restantes:2423
nulos restantes:2422
nulos restantes:2421
nulos restantes:2420
nulos restantes:2419
nulos restantes:2418
nulos restantes:2417
nulos restantes:2416
nulos restantes:2415
nulos restantes:2414
nulos restantes:2413
nulos restantes:2412
nulos restantes:2411
nulos restantes:2410
nulos restantes:2409
nulos restantes:2408
nulos restantes:2407
nulos restantes:2406
nulos restantes:2405
nulos restantes:2404
nulos restantes:2403
nulos restantes:2402
nulos restantes:2401
nulos restantes:2400
nulos restantes:2399
nulos restantes:2398
nulos restantes:2397
nulos restantes:2396
nulos restantes:2395
nulos restantes:2394
nulos restantes:2393
nulos restantes:2392
nulos restantes:2391
nulos restantes:2390
nulos restantes:2389
nulos restantes:2388
nulos restantes:2387
nulos restantes:2386
nulos restantes:2385
nulos restantes:2384
nulos restantes:2383
nulos restantes:2382
nulos restantes:2381
nulos restantes:2380
nulos restantes:2379
nulos restantes:2378
nulos restantes:2377
nulos restantes:2376
nulos restantes:2375
nulos restantes:2374
nulos restantes:2373
nulos restantes:2372
nulos restantes:2371
nulos restantes:2370
nulos restantes:2369
nulos restantes:2368
nulos restantes:2367
nulos restantes:2366
nulos restantes:2365
nulos restantes:2364
nulos restantes:2363
nulos restantes:2362
nulos restantes:2361
nulos restantes:2360
nulos restantes:2359
nulos restantes:2358
nulos restantes:2357
nulos restantes:2356
nulos restantes:2355
nulos restantes:2354
nulos restantes:2353
nulos restantes:2352
nulos restantes:2351
nulos restantes:2350
nulos restantes:2349
nulos restantes:2348
nulos restantes:2347
nulos restantes:2346
nulos restantes:2345
nulos restantes:2344
nulos restantes:2343
nulos restantes:2342
nulos restantes:2341
nulos restantes:2340
nulos restantes:2339
nulos restantes:2338
nulos restantes:2337
nulos restantes:2336
nulos restantes:2335
nulos restantes:2334
nulos restantes:2333
nulos restantes:2332
nulos restantes:2331
nulos restantes:2330

In [381]:
#vemos cuantos generos sin dato hay
dfjuegos.genres.isnull().sum()

1289

In [115]:
# creamos una lista con los generos existentes
generos=[]
for a in dfjuegos.genres.dropna().drop_duplicates():
    if type(a)==list:
        for b in a:
            if b not in generos:
                generos.append(b)
    else:
        for c in a.split(', '):
            c=c.strip("'[] ") 
            if c not in generos:
                generos.append(c)
generos=sorted(generos)
print(generos)

['Accounting', 'Action', 'Adventure', 'Animation & Modeling', 'Animation &amp; Modeling', 'Audio Production', 'Casual', 'Design & Illustration', 'Design &amp; Illustration', 'Early Access', 'Education', 'Free to Play', 'Game Development', 'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training', 'Sports', 'Strategy', 'Title: Robotpencil Presents: Character Design - Horror Genre', 'Utilities', 'Video Production', 'Web Publishing']

In [116]:
len(generos)

26

In [117]:
# Agregamos 'N/D' por los generos que desconozcamos
generos.append('N/D')
generos

['Accounting',
 'Action',
 'Adventure',
 'Animation & Modeling',
 'Animation &amp; Modeling',
 'Audio Production',
 'Casual',
 'Design & Illustration',
 'Design &amp; Illustration',
 'Early Access',
 'Education',
 'Free to Play',
 'Game Development',
 'Indie',
 'Massively Multiplayer',
 'Photo Editing',
 'RPG',
 'Racing',
 'Simulation',
 'Software Training',
 'Sports',
 'Strategy',
 'Title: Robotpencil Presents: Character Design - Horror Genre',
 'Utilities',
 'Video Production',
 'Web Publishing',
 'N/D']

In [118]:
len(generos)

27

In [32]:

dfjuegos=pd.merge(dfjuegos,dfoutput[['id','tags']],left_on='Id_juego',right_on='id',how='inner')

In [129]:
# En la columna tags tenemos algunos valores de los generos que faltan en la columna generos
#los tomareos de ahi haciendonuna lista solo con los generos que tenenos ya en la columna generos
def genero(lista,lista2):
    b=[]
    for a in lista:
        if a in lista2:
            b.append(a)
    if len(b)==0:
        b.append('N/D')           
    return b
#rellenamos con 'N/D' para poder identificar los generos donde no sabemos que valor imputar
dfjuegos.loc[dfjuegos.tags.isna(),'tags']='N/D'
dfjuegos.loc[(dfjuegos.genres.isnull())&(~dfjuegos.tags.isnull()),'tags']=dfjuegos.loc[(dfjuegos.genres.isnull())&(~dfjuegos.tags.isnull()),'tags'].apply(lambda x: genero(x,generos))
dfjuegos.loc[(dfjuegos.genres.isnull())&(~dfjuegos.tags.isnull()),'genres']=dfjuegos.loc[(dfjuegos.genres.isnull())&(~dfjuegos.tags.isnull()),'tags']
dfjuegos.loc[(dfjuegos.genres.isnull())&(~dfjuegos.tags.isnull()),['genres','tags']]

Empty DataFrame
Columns: [genres, tags]
Index: []

In [133]:
dfjuegos.columns

Index(['Id_juego', 'Nombre', 'Desarrollador', 'release_date', 'url',
       'Año_lanzamiento', 'genres', 'id'],
      dtype='object')

In [135]:
# eliminamos la columna tags, release_date y url ya que ya no la utlizaremos, verificamos que ya no hya valores nulos y cambiamos nombre de las columna genres a Género
dfjuegos.drop(columns=['release_date', 'url','id','tags'],inplace=True)
print(dfjuegos.isnull().sum())
dfjuegos.rename(columns={'genres':'Género'},inplace=True)
print(dfjuegos.columns)

Id_juego           0
Nombre             0
Desarrollador      0
Año_lanzamiento    0
Género             0
dtype: int64
Index(['Id_juego', 'Nombre', 'Desarrollador', 'Año_lanzamiento', 'Género'], dtype='object')

In [9]:
# en dos géneros vienen con la expresion &amp; y se remplaza por &
dfjuegos.loc[dfjuegos.Género.str.contains('amp'),'Género']=dfjuegos.Género[dfjuegos.Género.str.contains('amp')].str.replace('&amp;','&')

In [34]:
# se cambia un genero que quedo mal al hacer weebscrapping automatico, y se le pone el tag
id_gen_cambiar=dfjuegos.loc[dfjuegos['Género']=='Title: Robotpencil Presents: Character Design - Horror Genre','Id_juego'].iloc[0]
print(dfoutput.tags[dfoutput['id']==id_gen_cambiar].iloc[0][0])
dfjuegos.loc[dfjuegos['Género']=='Title: Robotpencil Presents: Character Design - Horror Genre','Género']=dfoutput.tags[dfoutput['id']==id_gen_cambiar].iloc[0][0]

Design & Illustration

In [35]:
#guardamos en csv para usar despues en nuestras funciones
dfjuegos.to_csv('Juegos_steam.csv',index=False)

# ETl de dataset users items

In [5]:
#abirmos el rchivo de items en un dataframe
with open('australian_users_items.json',encoding='MacRoman') as archivo_json:
    contenido_json = archivo_json.readlines()
lisitems=[eval(line.strip())for line in contenido_json]
dfitems=pd.DataFrame(lisitems)
dfitems

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [6]:
# Se desanida la columna de items y se pasa a un Dataframe el cual contiene la informacion de cada juego jugado por el usuario, como horas jugadas y el id del juego
#dfitems=dfitems.explode('items')
# Se desanida la columna de items y se pasa a un Dataframe el cual contiene la informacion de cada juego jugado por el usuario, como horas jugadas y el id del juego
lista_items=[] 
lista_items2=[]
for a in dfitems['items']:
    lista_items.append(ast.literal_eval(str(a)))
for a in range(len(lista_items)):
    for b in range(len(lista_items[a])):
        lista_items[a][b]['user_id']=lisitems[a]['user_id']
        lista_items2.append(lista_items[a][b])

In [7]:
dfitems=pd.DataFrame(lista_items2)

In [8]:
#observamos que hay filas duplicadas en los items
dfitems.duplicated().sum()

59104

In [9]:
#se procede a eliminar duplicados del dataframe de items y verificamos que se eliminaron
dfitems.drop_duplicates(inplace=True,ignore_index=True)
dfitems.duplicated().sum()

0

In [10]:
#cambiamos el tipo de dato a int de la columna de ids del item
dfitems.item_id=dfitems.item_id.astype(int)

In [11]:
dfitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094105 entries, 0 to 5094104
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int32
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   user_id           object
dtypes: int32(1), int64(2), object(2)
memory usage: 174.9+ MB

In [12]:
#verificamos que no hya datos nulos en nuestro dataset
dfitems.isnull().sum()

item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
user_id             0
dtype: int64

In [13]:
#cambiamos nombres de las columnas 
columnas_items={'item_id':'Id_juego','item_name':'Nombre_juego','playtime_forever':'Horas_jugadas','user_id':'Id_usuario'}
dfitems.rename(columns=columnas_items,inplace=True)
dfitems.columns

Index(['Id_juego', 'Nombre_juego', 'Horas_jugadas', 'playtime_2weeks',
       'Id_usuario'],
      dtype='object')

In [14]:
#la columna Horas juagadas viene en minutos, por lo que se procede a hacer la conversión a horas para que se pueda llevar a cabo las consignas
dfitems.Horas_jugadas=round(dfitems.Horas_jugadas/60,2)

In [15]:
#quitamos la columna playtime_2weeks, no se usara para nuestras funciones
dfitems.drop(columns='playtime_2weeks',inplace=True)

In [16]:
#visualizamos nuestro dataframe para guardar en un csv
dfitems.head()

   Id_juego               Nombre_juego  Horas_jugadas         Id_usuario
0        10             Counter-Strike           0.10  76561197970982479
1        20      Team Fortress Classic           0.00  76561197970982479
2        30              Day of Defeat           0.12  76561197970982479
3        40         Deathmatch Classic           0.00  76561197970982479
4        50  Half-Life: Opposing Force           0.00  76561197970982479

In [17]:
#verificamos nuevamente prar corroborar duplicados y nulos
print('duplicados: ', dfitems.duplicated().sum())
print('nulos: ', dfitems.isnull().sum().sum())

duplicados:  13
nulos:  0

In [18]:
#eliminamos duplicaods nuevamente
dfitems.drop_duplicates(inplace=True)
print('duplicados: ', dfitems.duplicated().sum())

duplicados:  0

In [19]:
# Se guarda en un csv el dataframe con los items desanidados y el id de usuario
dfitems.to_csv('items_por_usuario.csv',index=False)

In [19]:
#se guarda en un parquet para poder disponer subir al repositorio en github
dfitems.to_parquet('items_por_usuario.parquet')

# ETL reviews

In [150]:
# abrimos el archivo reviews
with open('australian_user_reviews.json', encoding='utf-8') as archivo_json:
    contenido_json = archivo_json.readlines()
lisreviews=list(map(ast.literal_eval,contenido_json))
dfreviews=pd.DataFrame(lisreviews)
dfreviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [151]:
# se desanida la columna items
dfreviews.drop(columns='user_url', inplace=True)
dfreviews=dfreviews.explode('reviews')
dfreviews.dropna(inplace=True)
dfreviews2=pd.DataFrame(dfreviews.reviews.tolist())
dfreviews2.head()

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [152]:
#conservamos las columnas item_id, recommend, review, posted
dfreviews.drop(columns='reviews', inplace=True)
dfreviews[['item_id','recommend','review','posted']]=dfreviews2[['item_id','recommend','review','posted']]
dfreviews.head()

,user_id,item_id,recommend,review,posted
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,"Posted November 5, 2011."
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,"Posted November 5, 2011."
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,"Posted November 5, 2011."
1,js41637,22200,True,It's unique and worth a playthrough.,"Posted July 15, 2011."
1,js41637,22200,True,It's unique and worth a playthrough.,"Posted July 15, 2011."

In [153]:
#verificamos duplicaods, y los booramos
print(f'valores duplicados: {dfreviews.duplicated().sum()}')
dfreviews.drop_duplicates(inplace=True)
print(f'verificando si quedan valores duplicados: {dfreviews.duplicated().sum()}')

valores duplicados: 33534
verificando si quedan valores duplicados: 0

In [154]:
#buscamos valores nulos del dataframe y corroboramos que no existen
dfreviews.isnull().sum()

user_id      0
item_id      0
recommend    0
review       0
posted       0
dtype: int64

In [155]:
#quitamos la palabra posted, las comas y puntos
dfreviews.posted=dfreviews.posted.str.removeprefix('Posted ').str.replace(',','').str.replace('.','')

In [156]:
#sacamos el año de la columna posted
dfreviews['Año_review']=dfreviews.posted.str.split(expand=True)[2]
dfreviews.head()

,user_id,item_id,recommend,review,posted,Año_review
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,November 5 2011,2011
1,js41637,22200,True,It's unique and worth a playthrough.,July 15 2011,2011
2,evcentric,43110,True,Great atmosphere. The gunplay can be a bit chu...,April 21 2011,2011
3,doctr,251610,True,I know what you think when you see this title ...,June 24 2014,2014
4,maplemage,227300,True,For a simple (it's actually not all that simpl...,September 8 2013,2013

In [157]:
# En la platfroma Steam, los reviews que no tienen año indican que fueron realizados en el año en curso
#lo que nos indica que el año mas grande en la lista de años unicos es el 2015, el año en curso es el 2016
print(f'valores nulos en la columna Año_review: {dfreviews.Año_review.isnull().sum()}')
print(f'ulitmo año especificado en los datos: {dfreviews.Año_review.sort_values(ascending=False).unique()[0]}')
#procedemos a relllenar los años faltantes con 2016
dfreviews.Año_review.fillna('2016',inplace=True)
#verificamos que ya se cambio el dato y que no hay nulos
print(f'valores nulos en la columna Año_review despues de cambiar nulos: {dfreviews.Año_review.isnull().sum()}')
print(f'ulitmo año especificado en los datos: {dfreviews.Año_review.sort_values(ascending=False).unique()[0]}')

valores nulos en la columna Año_review: 5427
ulitmo año especificado en los datos: 2015
valores nulos en la columna Año_review despues de cambiar nulos: 0
ulitmo año especificado en los datos: 2016

In [158]:
#eliminamos la columna posted
dfreviews.drop(columns='posted',inplace=True)

analsis de sentimientos con texblob

In [159]:
def get_sentiment_label(text):
    analysis = TextBlob(text)
    polarity = analysis.sentiment.polarity
    
    if polarity < -0.4:
        return 0  # Malo
    elif polarity > 0.1:
        return 2  # Positivo
    else:
        return 1  # Neutral

# Aplicar la función a la columna 'review' y crear la nueva columna 'sentiment_analysis'
dfreviews['sentiment_analysis'] = dfreviews['review'].apply(get_sentiment_label)

# Mostrar las primeras filas para verificar los cambios
dfreviews.head()

,user_id,item_id,recommend,review,Año_review,sentiment_analysis
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011,2
1,js41637,22200,True,It's unique and worth a playthrough.,2011,2
2,evcentric,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011,1
3,doctr,251610,True,I know what you think when you see this title ...,2014,2
4,maplemage,227300,True,For a simple (it's actually not all that simpl...,2013,1

In [160]:
#verificamos que las reviews donde no se escribió nada tengan 1 como valor como esta indicado en la consigna
dfreviews.sentiment_analysis[(dfreviews.review=='')|(dfreviews.review==' ')].value_counts()

sentiment_analysis
1    17
Name: count, dtype: int64

In [161]:
dfreviews.tail()

,user_id,item_id,recommend,review,Año_review,sentiment_analysis
25794,76561198306599751,226700,False,"This is terrible haha, even if it is on sale f...",2014,1
25795,Ghoustik,304930,True,Is k,2014,1
25796,76561198310819422,208730,False,This game made my thighs moist. I prefer them ...,2014,1
25797,76561198312638244,230410,True,definitely the best action game out there in t...,2014,2
25798,LydiaMorley,440,True,it boss,2013,1

In [162]:
# cambiamos el tipo de dato de la columna item_id y de Año_review
dfreviews.item_id=dfreviews.item_id.astype(int)
dfreviews.Año_review= pd.to_datetime(dfreviews.Año_review, format='%Y')
dfreviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25771 entries, 0 to 25798
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             25771 non-null  object
 1   item_id             25771 non-null  int32
 2   recommend           25771 non-null  bool
 3   review              25771 non-null  object
 4   Año_review          25771 non-null  datetime64[ns]
 5   sentiment_analysis  25771 non-null  int64
dtypes: bool(1), datetime64[ns](1), int32(1), int64(1), object(2)
memory usage: 1.1+ MB

In [163]:
#cambiamos el nombre de las columnas
dfreviews.rename(columns={'item_id':'Id_juego','recommend':'Recommend','user_id':'Id_usuario'},inplace=True)
dfreviews.columns

Index(['Id_usuario', 'Id_juego', 'Recommend', 'review', 'Año_review',
       'sentiment_analysis'],
      dtype='object')

In [164]:
#quitamos la columna reviews
dfreviews.drop(columns='review',inplace=True)
dfreviews.columns

Index(['Id_usuario', 'Id_juego', 'Recommend', 'Año_review',
       'sentiment_analysis'],
      dtype='object')

In [165]:
#guardamos en un csv
dfreviews.to_csv('revies_por_usuario.csv',index=False)