In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from bs4 import BeautifulSoup
import requests

In [2]:
#cargamos los 3 datasets que vamos a utlizzar para crear las funciones
dfjuegos=pd.read_csv('Juegos_steam.csv')
dfreviews=pd.read_csv('revies_por_usuario.csv')
dfitems=pd.read_csv('items_por_usuario.csv')

In [3]:
"""def PlayTimeGenre( genero : str ): #Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}"""

'def PlayTimeGenre( genero : str ): #Debe devolver año con mas horas jugadas para dicho género.\nEjemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}'

In [4]:
#se verifica que no haya nulos, en caso que haya alguno filtrado
print(f'verificando años nulos:{dfjuegos.isnull().sum()}')

verificando años nulos:Id_juego           0
Nombre             0
Desarrollador      0
Año_lanzamiento    0
Género             0
dtype: int64

In [5]:
#verificamos que no haya valores duplicados
print(dfjuegos.duplicated().sum())
#quitamos valores duplicados
dfjuegos.drop_duplicates(inplace=True)

3

In [6]:
#quitamos los corchetes y comillas a la columna de generos
dfjuegos.Género=dfjuegos.Género.str.replace("[\[\]\']",'',regex=True)

In [7]:
#nos quedamos con las columnas que si vamos a usar para la función
dfjuegos=dfjuegos[['Id_juego','Nombre','Año_lanzamiento','Género',]]
dfjuegos.head()

,Id_juego,Nombre,Año_lanzamiento,Género
0,761140,Lost Summoner Kitty,2018,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017,"Action, Adventure, Casual"
4,773570,Log Challenge,2018,"Action, Casual, Indie, Sports"

In [8]:
# primero sumamos las horas de cada juego en total
itemsf1=dfitems[['Id_juego','Horas_jugadas']]
dff1=itemsf1.groupby('Id_juego').sum().reset_index()
dff1

       Id_juego  Horas_jugadas
0            10      285131.65
1            20       16009.26
2            30       12606.34
3            40        2573.98
4            50       12109.32
...         ...            ...
10973    528580           0.00
10974    528660           3.03
10975    529670           0.00
10976    529820           0.00
10977    530720           0.00

[10978 rows x 2 columns]

In [9]:
#rellenamos el dataframe dff1 con los años de lanzamiento y el genero
dff1=dff1.merge(dfjuegos,how='left')
dff1.head()

   Id_juego  Horas_jugadas                     Nombre Año_lanzamiento  Género
0        10      285131.65             Counter-Strike            2000  Action
1        20       16009.26      Team Fortress Classic            1999  Action
2        30       12606.34              Day of Defeat            2003  Action
3        40        2573.98         Deathmatch Classic            2001  Action
4        50       12109.32  Half-Life: Opposing Force            1999  Action

In [10]:
dff1

,Id_juego,Horas_jugadas,Nombre,Año_lanzamiento,Género
0,10,285131.65,Counter-Strike,2000,Action
1,20,16009.26,Team Fortress Classic,1999,Action
2,30,12606.34,Day of Defeat,2003,Action
3,40,2573.98,Deathmatch Classic,2001,Action
4,50,12109.32,Half-Life: Opposing Force,1999,Action
...,...,...,...,...,...
10973,528580,0.00,Found,2016,"Adventure, Casual, Free to Play, Indie, Early ..."
10974,528660,3.03,Spin Rush,2016,"Action, Casual, Indie"
10975,529670,0.00,NaN,NaN,NaN
10976,529820,0.00,Beyond Power VR,2016,"Action, Indie"
10977,530720,0.00,Solitaire Royale,2016,"Casual, Indie"

In [11]:
#tenemos datos faltantes que no existen en el dataframe dfjuegos, se procede priemro a hcaer webscrapping para obtener el dato
print(dff1.isnull().sum())
sindato=0
restantes=len(dff1.Id_juego[dff1.Género.isnull()])
#haciendo webscrapping, con los datos que tenemos podemos sacar el genero faltante para algunos juegos, ya que no todos nos arroja el resutlado de la pagina
for a in dff1.Id_juego[dff1.Género.isnull()].unique():
    url='https://store.steampowered.com/app/'+str(a)
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    genero =  soup.find('span', {'data-panel': '{"flow-children":"row"}'})
    año = soup.select_one('#game_highlights > div.rightcol > div > div.glance_ctn_responsive_left > div.release_date > div.date')
    if genero==None:
        sindato+=1
        restantes-=1
        continue
    elif año==None:
        continue
    else:
        año=año.text.split(',')[-1]
        genero = genero.a.text
        restantes-=1 
        dff1.loc[dff1.Id_juego==a,'Género']=genero
        dff1.loc[dff1.Id_juego==a,'Año_lanzamiento']=año
print('ids sin dato:',sindato)

Id_juego              0
Horas_jugadas         0
Nombre             1786
Año_lanzamiento    1786
Género             1786
dtype: int64
ids sin dato: 1253

In [12]:
# se rellenas datos nulos y los lugares donde es igual a 'N/D' con la frase 'sin dato'
dff1.loc[:,'Año_lanzamiento'].fillna('Sin dato',inplace=True) 
dff1.loc[:,'Género'].fillna('Sin dato',inplace=True)
dff1.loc[dff1.Año_lanzamiento=='N/D','Año_lanzamiento']='Sin dato'
dff1.loc[dff1.Género=='N/D','Género']='Sin dato'

In [13]:
#sacamos dummies de los generos
dummies=dff1.Género.str.get_dummies(', ')
dff1=pd.concat([dff1,dummies],axis=1)

In [14]:
dff1.head()

,Id_juego,Horas_jugadas,Nombre,Año_lanzamiento,Género,Accounting,Action,Adventure,Animation & Modeling,Audio Production,...,RPG,Racing,Simulation,Sin dato,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,10,285131.65,Counter-Strike,2000,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20,16009.26,Team Fortress Classic,1999,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,12606.34,Day of Defeat,2003,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,2573.98,Deathmatch Classic,2001,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,12109.32,Half-Life: Opposing Force,1999,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#verificamos que no haya nulos ni duplicaods por ultima vez
print('nulos:',dff1.isnull().sum().sum())
print('duplicaods',dff1.duplicated().sum())

nulos: 1786
duplicaods 0

In [16]:
# se hace un Dataframe vacio para guardar las columnas filtradas
dff1_final=pd.DataFrame()

In [17]:
#obtenemos una lista de generos
generos=dummies.columns.to_list()
generos

['Accounting',
 'Action',
 'Adventure',
 'Animation & Modeling',
 'Audio Production',
 'Casual',
 'Design & Illustration',
 'Early Access',
 'Education',
 'Free to Play',
 'Game Development',
 'Indie',
 'Massively Multiplayer',
 'Photo Editing',
 'RPG',
 'Racing',
 'Simulation',
 'Sin dato',
 'Software Training',
 'Sports',
 'Strategy',
 'Utilities',
 'Video Production',
 'Web Publishing']

In [18]:
#se agrupa por año y genero, sumando las horas por genero en cada año
for a in generos:
    if dff1[dff1[a]==1].groupby(by=['Año_lanzamiento']).sum()['Horas_jugadas'].array.size==0:
        continue
    else:
        dftemp1=dff1[dff1[a]==1].groupby(by=['Año_lanzamiento']).sum()['Horas_jugadas'].reset_index()
        gen=[a for b in range(len(dftemp1))]
        dftemp1['Género']=pd.Series(gen)
        dftemp1=dftemp1.sort_values(by='Horas_jugadas',ascending=False)
        dftemp1=dftemp1.iloc[[0]]
        dff1_final=pd.concat([dff1_final,dftemp1])
 
dff1_final

   Año_lanzamiento  Horas_jugadas                 Género
0             2016           0.00             Accounting
47            2012    18095017.31                 Action
42            2011     3696751.15              Adventure
6             2015       22432.61   Animation & Modeling
6             2014        7591.02       Audio Production
39            2015     1399187.09                 Casual
2             2012       32172.58  Design & Illustration
1             2013     1981714.67           Early Access
4             2013        5676.36              Education
16            2013     3153102.28           Free to Play
1             2015          59.97       Game Development
18            2006     7435258.00                  Indie
8             2013     2939142.50  Massively Multiplayer
3             2014        1027.67          Photo Editing
25            2011     3798062.68                    RPG
24            2015      651052.67                 Racing
29            2006     7408941.03             Simulation
12        Sin dato     2971134.30               Sin dato
3             2014        8892.46      Software Training
16            2015      714357.21                 Sports
33            2013     2424526.19               Strategy
5             2014       47209.62              Utilities
5             2015       28656.72       Video Production
2             2012       32172.58         Web Publishing

In [19]:
# guardamos en un csv el datafrme listo para la funcion
dff1_final.to_csv('Función_PlayTimeGenre.csv',index=False)

In [20]:
def PlayTimeGenre(genero):
    dict={}
    genero=genero.capitalize()
    mensaje="Año de lanzamiento con más horas jugadas para Género "+genero
    dict[mensaje]=dff1_final.Año_lanzamiento[dff1_final['Género']==genero].iloc[0]
    return dict

In [21]:
PlayTimeGenre('action')

{'Año de lanzamiento con más horas jugadas para Género Action': '2012'}

In [22]:

"""def UserForGenre( genero : str ): #Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}"""

'def UserForGenre( genero : str ): #Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.\nEjemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}'

In [23]:
dfitems.head()

   Id_juego               Nombre_juego  Horas_jugadas         Id_usuario
0        10             Counter-Strike           0.10  76561197970982479
1        20      Team Fortress Classic           0.00  76561197970982479
2        30              Day of Defeat           0.12  76561197970982479
3        40         Deathmatch Classic           0.00  76561197970982479
4        50  Half-Life: Opposing Force           0.00  76561197970982479

In [24]:
# primero traemos las columnas necesarias y quitaamos las filas donde las horas de jeugo sea 0
itemsf2=dfitems[['Id_usuario','Id_juego','Horas_jugadas']]
itemsf2.head()

          Id_usuario  Id_juego  Horas_jugadas
0  76561197970982479        10           0.10
1  76561197970982479        20           0.00
2  76561197970982479        30           0.12
3  76561197970982479        40           0.00
4  76561197970982479        50           0.00

In [25]:
itemsf2

                Id_usuario  Id_juego  Horas_jugadas
0        76561197970982479        10           0.10
1        76561197970982479        20           0.00
2        76561197970982479        30           0.12
3        76561197970982479        40           0.00
4        76561197970982479        50           0.00
...                    ...       ...            ...
5094087  76561198329548331    346330           0.00
5094088  76561198329548331    373330           0.00
5094089  76561198329548331    388490           0.05
5094090  76561198329548331    521570           0.07
5094091  76561198329548331    519140           0.05

[5094092 rows x 3 columns]

In [26]:
#rectificamos que no haya nulos ni duplicados
print('nulos:',itemsf2.isnull().sum().sum())
print('duplicados: ',itemsf2.duplicated().sum())

nulos: 0
duplicados:  0

In [27]:
# de nuestra primera funcion traemos los años de lanzamiento y generos faltantes ya que ya se obtuvieron esos datos previamente
dfaños_generos=dff1[['Id_juego', 'Año_lanzamiento', 'Género', 'Accounting',
       'Action', 'Adventure', 'Animation & Modeling', 'Audio Production',
       'Casual', 'Design & Illustration', 'Early Access', 'Education',
       'Free to Play', 'Game Development', 'Indie', 'Massively Multiplayer',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Sin dato',
       'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing']]
itemsf2=itemsf2.merge(dfaños_generos,how='left')
itemsf2

,Id_usuario,Id_juego,Horas_jugadas,Año_lanzamiento,Género,Accounting,Action,Adventure,Animation & Modeling,Audio Production,...,RPG,Racing,Simulation,Sin dato,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,10,0.10,2000,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,76561197970982479,20,0.00,1999,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,76561197970982479,30,0.12,2003,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,76561197970982479,40,0.00,2001,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76561197970982479,50,0.00,1999,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094087,76561198329548331,346330,0.00,2016,"Action, Adventure, Free to Play, Indie, Early ...",0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5094088,76561198329548331,373330,0.00,2015,"Adventure, Free to Play",0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5094089,76561198329548331,388490,0.05,2015,"Adventure, Free to Play",0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5094090,76561198329548331,521570,0.07,2016,"Casual, Free to Play, Indie",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5094091,76561198329548331,519140,0.05,2016,Action,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
#verificamos que todos los campos esten rellenos
itemsf2.isnull().sum().sum()

0

In [29]:
#verificamos los tipos de dato de cada columna
itemsf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094092 entries, 0 to 5094091
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Id_usuario             object
 1   Id_juego               int64
 2   Horas_jugadas          float64
 3   Año_lanzamiento        object
 4   Género                 object
 5   Accounting             int64
 6   Action                 int64
 7   Adventure              int64
 8   Animation & Modeling   int64
 9   Audio Production       int64
 10  Casual                 int64
 11  Design & Illustration  int64
 12  Early Access           int64
 13  Education              int64
 14  Free to Play           int64
 15  Game Development       int64
 16  Indie                  int64
 17  Massively Multiplayer  int64
 18  Photo Editing          int64
 19  RPG                    int64
 20  Racing                 int64
 21  Simulation             int64
 22  Sin dato               int64
 23  Software Training      int64
 24  Sports                 int64
 25  Strategy               int64
 26  Utilities              int64
 27  Video Production       int64
 28  Web Publishing         int64
dtypes: float64(1), int64(25), object(3)
memory usage: 1.1+ GB

In [30]:
#se cambia la columan de años para poder agrupar
itemsf2['Año_lanzamiento']=itemsf2.Año_lanzamiento.astype(str)

In [31]:
# se crea un dataframe vacio para guardar las columnas agrupadas
dff2=pd.DataFrame()
#se agrupa por año y genero, sumando las horas por genero en cada año
for genero in generos:
       usuario=itemsf2.loc[itemsf2[genero]==1,['Id_usuario','Horas_jugadas']].groupby('Id_usuario').sum().sort_values(by='Horas_jugadas',ascending=False).iloc[0].name
       dftemp1=itemsf2.loc[(itemsf2.Id_usuario==usuario),['Id_usuario','Año_lanzamiento','Horas_jugadas']]
       dftemp1[['Género']]=genero
       dff2=pd.concat([dff2,dftemp1])
dff2

               Id_usuario Año_lanzamiento  Horas_jugadas          Género
161428  76561198042410388            2000           0.10      Accounting
161429  76561198042410388            1999           8.58      Accounting
161430  76561198042410388            2003           0.02      Accounting
161431  76561198042410388            2001           0.03      Accounting
161432  76561198042410388            1999           0.28      Accounting
...                   ...             ...            ...             ...
632728            Xyphien            2016           0.00  Web Publishing
632729            Xyphien            2016           3.92  Web Publishing
632730            Xyphien            2019           0.08  Web Publishing
632731            Xyphien        Sin dato           0.00  Web Publishing
632732            Xyphien            2016           0.72  Web Publishing

[15787 rows x 4 columns]

In [32]:
dff2

               Id_usuario Año_lanzamiento  Horas_jugadas          Género
161428  76561198042410388            2000           0.10      Accounting
161429  76561198042410388            1999           8.58      Accounting
161430  76561198042410388            2003           0.02      Accounting
161431  76561198042410388            2001           0.03      Accounting
161432  76561198042410388            1999           0.28      Accounting
...                   ...             ...            ...             ...
632728            Xyphien            2016           0.00  Web Publishing
632729            Xyphien            2016           3.92  Web Publishing
632730            Xyphien            2019           0.08  Web Publishing
632731            Xyphien        Sin dato           0.00  Web Publishing
632732            Xyphien            2016           0.72  Web Publishing

[15787 rows x 4 columns]

In [33]:
dff2=pd.DataFrame()
#se agrupa por año y genero, sumando las horas por genero en cada año
for a in generos:
    if itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario','Año_lanzamiento']).sum()['Horas_jugadas'].array.size==0:
        continue
    else:
        dftemp1=pd.DataFrame(itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario','Año_lanzamiento']).sum()['Horas_jugadas']).reset_index()
        dftemp2=pd.DataFrame(itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario']).sum()['Horas_jugadas']).reset_index()
        usuario=dftemp2.sort_values(by='Horas_jugadas',ascending=False).iloc[0,0]
        genero=[a for b in range(len(dftemp1[dftemp1.Id_usuario==usuario]))]
        dftemp3=dftemp1[dftemp1.Id_usuario==usuario].copy()
        dftemp3.loc[:,'Género']=genero
        

        dff2=pd.concat([dff2,dftemp3])

In [34]:
dff2

               Id_usuario Año_lanzamiento  Horas_jugadas            Género
0       76561198042410388            2016           0.00        Accounting
579641            Sp3ctre            2004           0.13            Action
579642            Sp3ctre            2009        2627.47            Action
579643            Sp3ctre            2010        1433.10            Action
579644            Sp3ctre            2011          58.61            Action
...                   ...             ...            ...               ...
2102    76561198073642113            2014        3460.85         Utilities
2681           ScottyG555            2015        2805.23  Video Production
2381              Xyphien            2005         121.60    Web Publishing
2382              Xyphien            2012        1077.62    Web Publishing
2383              Xyphien            2015        1183.52    Web Publishing

[203 rows x 4 columns]

In [35]:
#guardamos en un csv
dff2.to_csv('Función_UserForGenre.csv',index=False)

In [36]:
#creamos la función pedida en la consigna
def UserForGenre(genero):
    genero=genero.capitalize()
    l1=[]
    for a in dff2.loc[dff2.Género==genero,'Año_lanzamiento']:
        if dff2.loc[(dff2.Año_lanzamiento==a)&(dff2.Género==genero),'Horas_jugadas'].iloc[0]==0:
            continue
        else:
            horas=dff2.loc[(dff2.Año_lanzamiento==a)&(dff2.Género==genero),'Horas_jugadas'].iloc[0]
            l1.append({'Año':a,'Horas':horas})
    usuario=dff2.Id_usuario[dff2.Género==genero].unique()[0]

    return {f"Usuario con más horas jugadas para Género {genero}:": usuario, 'Horas jugadas':l1}

In [37]:
print(UserForGenre('action'))

{'Usuario con más horas jugadas para Género Action:': 'Sp3ctre', 'Horas jugadas': [{'Año': ' 2004', 'Horas': 0.13}, {'Año': ' 2009', 'Horas': 2627.47}, {'Año': ' 2010', 'Horas': 1433.1}, {'Año': ' 2011', 'Horas': 58.61}, {'Año': ' 2012', 'Horas': 1503.07}, {'Año': ' 2013', 'Horas': 4.12}, {'Año': ' 2014', 'Horas': 1983.38}, {'Año': ' 2020', 'Horas': 686.68}, {'Año': '1995', 'Horas': 3.62}, {'Año': '1999', 'Horas': 0.73}, {'Año': '2000', 'Horas': 1177.4}, {'Año': '2001', 'Horas': 0.22}, {'Año': '2002', 'Horas': 3.97}, {'Año': '2003', 'Horas': 127.88}, {'Año': '2004', 'Horas': 2123.51}, {'Año': '2005', 'Horas': 355.65}, {'Año': '2006', 'Horas': 14.940000000000001}, {'Año': '2007', 'Horas': 1879.74}, {'Año': '2008', 'Horas': 3.73}, {'Año': '2009', 'Horas': 1805.4400000000003}, {'Año': '2010', 'Horas': 1301.39}, {'Año': '2011', 'Horas': 2581.6}, {'Año': '2012', 'Horas': 6304.96}, {'Año': '2013', 'Horas': 3379.1000000000004}, {'Año': '2014', 'Horas': 2178.16}, {'Año': '2015', 'Horas': 5219.55}, {'Año': '2016', 'Horas': 492.93}, {'Año': '2017', 'Horas': 722.12}, {'Año': 'Sin dato', 'Horas': 27.62}]}

In [38]:
#def UsersRecommend( año : int ): #Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [39]:
dfreviews.head()

          Id_usuario  Id_juego  Recommend  Año_review  sentiment_analysis
0  76561197970982479      1250       True  2011-01-01                   2
1            js41637     22200       True  2011-01-01                   2
2          evcentric     43110       True  2011-01-01                   1
3              doctr    251610       True  2014-01-01                   2
4          maplemage    227300       True  2013-01-01                   1

In [40]:
dfreviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25771 entries, 0 to 25770
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id_usuario          25771 non-null  object
 1   Id_juego            25771 non-null  int64
 2   Recommend           25771 non-null  bool
 3   Año_review          25771 non-null  object
 4   sentiment_analysis  25771 non-null  int64
dtypes: bool(1), int64(2), object(2)
memory usage: 830.6+ KB

In [41]:
#cambiamos a formato fecha la columna año
dfreviews['Año_review']=pd.to_datetime(dfreviews.Año_review)

In [42]:
#filtramos los datos, donde Recommend sea igual a True y seniment analysis sea igual a 1 y 2
dfreviewsf3=dfreviews.loc[(dfreviews.Recommend==True)&(dfreviews.sentiment_analysis==2)|(dfreviews.Recommend==True)&(dfreviews.sentiment_analysis==1),['Id_juego','Año_review']].copy()

In [43]:
#sacmos una lista de años, y despues vamos iterando por cada añopara localizar el top 3 de los juegos mas recomendados para cada año
años=dfreviews.Año_review.dt.year.sort_values().unique().tolist()
dff3=pd.DataFrame()
for a in años:
   dftemp1=dfreviewsf3.loc[(dfreviews.Año_review.dt.year==a)].value_counts(ascending=False).iloc[:3].to_frame().reset_index().copy()
   dff3=pd.concat([dff3,dftemp1])
#guaradamos en un Dataframe el top 3 por cada año
dff3=dff3.reset_index(drop=True)
dff3

    Id_juego Año_review  count
0        440 2010-01-01      5
1        630 2010-01-01      4
2       1250 2010-01-01      3
3        440 2011-01-01     33
4        620 2011-01-01     13
5     105600 2011-01-01      6
6        440 2012-01-01    106
7     105600 2012-01-01     29
8       4000 2012-01-01     17
9        440 2013-01-01    249
10      4000 2013-01-01    148
11       570 2013-01-01    104
12       440 2014-01-01    514
13       730 2014-01-01    356
14      4000 2014-01-01    278
15       730 2015-01-01    633
16       440 2015-01-01    251
17      4000 2015-01-01    151
18       730 2016-01-01    321
19       440 2016-01-01    134
20      4000 2016-01-01     79

In [44]:
#traemos el nombre de cada juego uniendo con su id de juego
dff3=pd.merge(dfjuegos[['Id_juego','Nombre']],dff3).sort_values(by=['Año_review','count'],ascending=False).drop(columns='Id_juego')
dff3

                              Nombre Año_review  count
9   Counter-Strike: Global Offensive 2016-01-01    321
20                   Team Fortress 2 2016-01-01    134
4                        Garry's Mod 2016-01-01     79
8   Counter-Strike: Global Offensive 2015-01-01    633
19                   Team Fortress 2 2015-01-01    251
3                        Garry's Mod 2015-01-01    151
18                   Team Fortress 2 2014-01-01    514
7   Counter-Strike: Global Offensive 2014-01-01    356
2                        Garry's Mod 2014-01-01    278
17                   Team Fortress 2 2013-01-01    249
1                        Garry's Mod 2013-01-01    148
10                            Dota 2 2013-01-01    104
16                   Team Fortress 2 2012-01-01    106
12                          Terraria 2012-01-01     29
0                        Garry's Mod 2012-01-01     17
15                   Team Fortress 2 2011-01-01     33
6                           Portal 2 2011-01-01     13
11                          Terraria 2011-01-01      6
14                   Team Fortress 2 2010-01-01      5
5                        Alien Swarm 2010-01-01      4
13                     Killing Floor 2010-01-01      3

In [45]:
#convertimos la columna de años, a modo que solo quede el año numerico
dff3.Año_review=dff3.Año_review.dt.year

In [46]:
#guardamos en un csv
dff3.to_csv('Función_UsersRecommend.csv',index=False)

In [47]:
#creamos la función pedida en la consigna
def UsersRecommend( año ):
    l=[]
    for a in range(3):
        dict={f'Puesto {a+1}':dff3[dff3.Año_review==año].iloc[a,0]}
        l.append(dict)
    return l
    
    #Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [71]:
print(UsersRecommend(2014))

[{'Puesto 1': 'Team Fortress 2'}, {'Puesto 2': 'Counter-Strike: Global Offensive'}, {'Puesto 3': "Garry's Mod"}]

In [49]:
#def UsersWorstDeveloper( año : int ): #Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [50]:
#filtramos los datos donde Reccommend seas igual a False y sentiment analysis sea igual a 0
dfreviewsf4=dfreviews.loc[(dfreviews.Recommend==False)&(dfreviews.sentiment_analysis==0),['Id_juego','Año_review']].copy()
dfreviewsf4.head()

     Id_juego Año_review
130    344760 2015-01-01
396    400800 2016-01-01
524    215470 2013-01-01
535    226700 2014-01-01
686    224540 2016-01-01

In [51]:
dfjuegos2=pd.read_csv('Juegos_steam.csv')
dfjuegos2=dfjuegos2[['Id_juego','Desarrollador']]
dfjuegos2.head()

   Id_juego     Desarrollador
0    761140         Kotoshiro
1    643980  Secret Level SRL
2    670290      Poolians.com
3    767400              彼岸领域
4    773570               N/D

In [52]:
#traemos el nombre del desarrollador
dff4=dfreviewsf4.merge(dfjuegos2[['Id_juego','Desarrollador']],how='left')
print(len(dff4))
dff4.head()

293

   Id_juego Año_review     Desarrollador
0    344760 2015-01-01        Code}{atch
1    400800 2016-01-01  Milestone S.r.l.
2    215470 2013-01-01    Lukewarm Media
3    226700 2014-01-01               NaN
4    224540 2016-01-01     Jagex Limited

In [53]:
#haciendo webscrapping, con los datos que tenemos podemos sacar el genero faltante oara algunos juegos, ya que no todos nos arroja el resutlado de la pagina
for a in dff4.Id_juego[dff4.Desarrollador.isnull()].unique():
    url='https://store.steampowered.com/app/'+str(a)
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    elemento_div = soup.find('div', {'class': 'summary column', 'id': 'developers_list'})
    if elemento_div==None:
        continue
    else:
        texto_enlace = elemento_div.a.text
     
    dff4.loc[dff4.Id_juego==a,'Desarrollador']=texto_enlace

In [54]:
#ahora donde tenemos datos 'N/D' hacemos el mismo proceso
for a in dff4.Id_juego[dff4.Desarrollador=='N/D'].unique():
    url='https://store.steampowered.com/app/'+str(a)
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    elemento_div = soup.find('div', {'class': 'summary column', 'id': 'developers_list'})
    if elemento_div==None:
        continue
    else:
        texto_enlace = elemento_div.a.text
    dff4.loc[dff4.Id_juego==a,'Desarrollador']=texto_enlace

In [55]:
# despues comprobamos los valores que tenemos restantes
len(dff4[(dff4['Desarrollador'].isnull())|(dff4['Desarrollador']=='N/D')])

25

In [56]:
#dff4.dropna(inplace=True)

In [57]:
# quitamos la columna Id_juego que ya no utlizaremos
dff4.drop(columns='Id_juego',inplace=True)

In [58]:
# se realiza un Dataframe con los datos necesarios para la función
dff4_final=pd.DataFrame()
for a in dff4.Año_review.unique():
    dff4_final=pd.concat([dff4_final,dff4[dff4.Año_review==a].value_counts(ascending=False).reset_index()[:3]])

In [59]:
dff4_final

  Año_review          Desarrollador  count
0 2015-01-01      Facepunch Studios      4
1 2015-01-01                  Valve      4
2 2015-01-01    Bohemia Interactive      4
0 2016-01-01                  Valve     11
1 2016-01-01            Hello Games      8
2 2016-01-01    Bohemia Interactive      4
0 2013-01-01                 Capcom      1
1 2013-01-01       City Interactive      1
2 2013-01-01  Eyedentity Games Inc.      1
0 2014-01-01          Infinity Ward      4
1 2014-01-01      Facepunch Studios      4
2 2014-01-01                  Valve      3
0 2012-01-01                  Valve      1

In [60]:
#sacamos el año en forma numérica
dff4_final['Año_review']=dff4_final.Año_review.dt.year

In [61]:
#guardamos en una funcion los datos para nuestra funcion
dff4_final.to_csv('Función_UsersWorstDeveloper.csv',index=False)

In [62]:
#creamos la función pedida en la consigna
def UsersWorstDeveloper( año ):
    dict={}
    for a,b in enumerate(dff4_final.loc[dff4_final.Año_review==año,'Desarrollador']):
        dict['Puesto '+str(a+1)]=b
    return [dict]

In [72]:
UsersWorstDeveloper(2012)

[{'Puesto 1': 'Valve'}]

In [ ]:
#def sentiment_analysis( empresa desarrolladora : str ): #Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor.
#Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}

In [ ]:
#seleccionamos las columnas de reviews que usaremos
dfreviewsf5=dfreviews[['Id_juego','sentiment_analysis']].copy()
dfreviewsf5.head()

   Id_juego  sentiment_analysis
0      1250                   2
1     22200                   2
2     43110                   1
3    251610                   2
4    227300                   1

In [ ]:
#agregamos las columnas de Desarrollador del dataframe de juegos
dfreviewsf5=pd.merge(dfjuegos2[['Id_juego','Desarrollador']],dfreviewsf5,how='right')
dfreviewsf5.head()

   Id_juego         Desarrollador  sentiment_analysis
0      1250  Tripwire Interactive                   2
1     22200              ACE Team                   2
2     43110                   NaN                   1
3    251610                   NaN                   2
4    227300          SCS Software                   1

In [ ]:
#hacemos un dataframe 
dff5=pd.get_dummies(dfreviewsf5,columns=['sentiment_analysis'],dtype=int).drop(columns='Id_juego').groupby('Desarrollador').count().reset_index()

In [ ]:
#cambiamos el formato de todos los desarrolladores, a modo que todos empiecen con letra mayúscula y el resto sea minúscula
dff5['Desarrollador']=dff5['Desarrollador'].str.capitalize()

In [ ]:
# la columna Desarrollador tiene valores que no deberian estar, como (Mac), lo cual afecta a los resultados de la agurapción 
#se hace una lista donde la palabra mac y linux se en cuentre presente, y se quita de la candea de strings
l=[]
for a in dff5.Desarrollador:
    b=0
    c=0    
    if '(' in a:
        b=a.find('(')
    if ')' in a:
        c=a.find(')')
        if 'mac' in a[b:c+1] and  a[b:c+1] not in l:
            l.append(a[b:c+1])
        if 'linux' in a[b:c+1] and a[b:c+1] not in l:
            l.append(a[b:c+1])
for a in l:
    dff5.loc[dff5.Desarrollador.str.contains(a,regex=False),'Desarrollador']=dff5.loc[dff5.Desarrollador.str.contains(a,regex=False),'Desarrollador'].str.replace(a,'')

In [ ]:
#comprobamos que no se haya quedado algún valor pendiente de cambiar
l=[]
for a in dff5.Desarrollador:
    b=0
    c=0    
    if '(' in a:
        b=a.find('(')
    if ')' in a:
        c=a.find(')')
        if 'mac' in a[b:c+1] and  a[b:c+1] not in l:
            l.append(a[b:c+1])
        if 'linux' in a[b:c+1] and a[b:c+1] not in l:
            l.append(a[b:c+1])
l

[]

In [ ]:
#cambiamos manualmente los campos donde aparece ubisoft, por ser un desarrollador importante
dff5.loc[dff5.Desarrollador.str.contains('Ubisoft'),'Desarrollador']='Ubisoft'
dff5.loc[dff5.Desarrollador.str.contains(' in collaboration with ubisoft reflections'),'Desarrollador']=dff5.loc[dff5.Desarrollador.str.contains(' in collaboration with ubisoft reflections'),'Desarrollador'].str.replace(' in collaboration with ubisoft reflections','ubisoft')
dff5.loc[dff5.Desarrollador.str.contains('ubisoft montreal'),'Desarrollador']=dff5.loc[dff5.Desarrollador.str.contains('ubisoft montreal'),'Desarrollador'].str.replace('ubisoft montreal','ubisoft')
dff5.loc[dff5.Desarrollador.str.contains('ubisoft  shanghaï'),'Desarrollador']=dff5.loc[dff5.Desarrollador.str.contains('ubisoft  shanghaï'),'Desarrollador'].str.replace('ubisoft  shanghaï','ubisoft')
dff5.loc[dff5.Desarrollador.str.contains('ubisoft kiev'),'Desarrollador']=dff5.loc[dff5.Desarrollador.str.contains('ubisoft kiev'),'Desarrollador'].str.replace('ubisoft kiev','ubisoft')

In [ ]:
#hacemos una copia del dataframe
dff5_prueba=dff5.copy()

In [ ]:
#separamos los desarrolladores, ya que en algunos casos tienen mas de dos desarrolladores,
dff5_prueba.loc[:,'Desarrollador']=dff5.Desarrollador.str.split(',')

dff5_prueba=dff5_prueba.explode('Desarrollador')

In [ ]:
#se cambia todo de nuevo a formato de primer letra mayúscula, y el resto minúsculas
dff5_prueba.Desarrollador=dff5_prueba.Desarrollador.str.strip('. ').str.capitalize()
dff5_prueba.Desarrollador=dff5_prueba.Desarrollador.str.strip('. ').str.capitalize()

In [ ]:
#en la empresa square enix, normalizamso todo para que solo aparezca Square enix
dff5_prueba.loc[dff5_prueba.Desarrollador.str.contains('quare'),'Desarrollador']='Square enix'

#en la lista de valores que su cadena es de largo hasta 3, quitamos los valores que si corresponden a desarrolladoras
l=dff5_prueba.Desarrollador[dff5_prueba.Desarrollador.str.len()<4].unique().tolist()
print(l)
l.remove('橘子班')
l.remove('インレ')
l.remove('Kog')
l.remove('M2h')

['Agc', 'Llc', 'Inc', 'Ltd', 'Ccp', 'Kog', 'M2h', 'N/d', 'Sos', 'S.l', 'インレ', '橘子班']

In [ ]:
#ahora quitamos del daaframe los valores que no son de desarrolladoras,
for a in l:
    dff5_prueba.drop(index=dff5_prueba.loc[dff5_prueba.Desarrollador==a].index,inplace=True)
#comprobamos que solo quedan los valores correspondientes a los que si son empresas desrrolladoras
dff5_prueba.Desarrollador[dff5_prueba.Desarrollador.str.len()<4].unique()

array(['Kog', 'M2h', 'インレ', '橘子班'], dtype=object)

In [ ]:
#agrupadmos por las desarrolladoras, sumando los valores de cada columan del sentyment analisis para cada valor de 0,1 y 2
dff5_prueba=dff5_prueba.groupby(by='Desarrollador').sum().reset_index()

  Año_review     Desarrollador
0 2015-01-01        Code}{atch
1 2016-01-01  Milestone S.r.l.
2 2013-01-01    Lukewarm Media
3 2014-01-01      Fredaikis AB
4 2016-01-01     Jagex Limited

In [ ]:
#checamos como quedó la lista de empresas desarrolladoras
for a in dff5_prueba.Desarrollador:
    print(a)

07th expansion
10tons ltd
11 bit studios
16bit nights
17-bit
1c-avalon
1c-softclub
1c: maddox games
1c:inoco
22cans
2d boy
2k australia
2k boston
2k china
2k czech
2k marin
2play
3 sprockets
30.06 studios ltd
3000ad
343 industries
38 studios
3909
3f interactive
4 i lab
48h studio
4a games
5 bits games
5 lives studios
5th cell media
5wolf
777 studios
8-bit studio
800 north and digital ranch
8888888 labs
9heads game studios
@unepic_fran
A barnett
A jolly corpse
Abbey games
Above and beyond technologies
Abraham carreola
Abrakam sa
Abstract tree studio
Abstraction games
Access games
Ace maddox
Ace team
Acid nerve
Acquire corp
Actalogic
Adam foster
Adrian zingg
Adventure planning service
Afterthought llc
Airtight games
Akakiy petrushkin
Alan edwardes
Alawar
Alawar entertainment
Albert fernandez
Aleksey abramenko
Alexander bruce
Alice &amp; smith
Alice in dissonance
Alien pixel studios
Alientrap
Allen dayan
Alligator pit
Allplayer group ltd
Almost human games
Alpixel games
Altar games
Amanita design
Amaterasu software
Amplitude studios
Anarchy enterprises
Andrew gilmour
Andrii vintsevych
Anisoptera games
Ankama studio
Ankur rathore
Anoop nihar srinivas
Anothink
Anthony rotondo
Antonio carcagnì
Antonio renna
Anvate games
Aperture tag team
App2fun
Aquiris game studio
Aratog llc
Arc system works
Archive entertainment
Arkane studios
Arkedo
Arrowhead game studios
Artery games
Artifex mundi
Artifice studio
Artplant
Ascaron
Ascaron entertainment ltd
Ascension entertainment llc
Aslan game studio
Aspyr
Aspyr studios
Atapki
Atari
Atelier 801
Atom republic
Atomictorch studio
Atum software
Atypical games
Austin handle
Autobotika
Avalanche software
Avalanche studios
Avidly wild games
Avinash kalapala
Awar
Awesome games studio
Axolot games
Axyos games
B-alive
B-alive gmbh
B-evil
Back to basics gaming
Bacon wrapped games
Badland studio
Baggy cat ltd
Baller industries
Bandai namco studio inc
Bankroll studios
Bare mettle entertainment
Batholith entertainment
Battlegoat studios
Beam team games
Beamdog
Beamng
Behold studios
Ben garney
Ben palgi
Benjamin rivers inc
Best way
Betadwarf
Bethesda game studios
Biart company llc
Big ant studios
Big corporation
Big fat simulations inc
Big huge games
Big robot ltd
Bigant studios
Bigmoon studios
Binary fortress software
Binary zoo
Bioware
Bitbox ltd
Bithell games
Bizarre creations
Black death apps limited
Black eye games
Black isle studios
Black lion studios
Black pants studio
Black sea studios ltd
Black shell games
Black wing foundation
Blackbird interactive
Blackfire games
Blackhole
Blacklight interactive
Blackmill games
Blackpowder games
Blankmediagames
Blazing griffin
Blender foundation
Blendo games
Blind sky studios
Blind squirrel
Blinkworks media
Blit software
Bloober team sa
Blooming buds studio
Blue bottle games
Blue byte
Blue isle studios
Blue mammoth games
Blue manchu
Blue tea games
Bluebutton games
Blueeagle productions
Bluegiant interactive
Blueline games
Bob the game development bot
Bohemia interactive
Bombservice
Boneloaf
Boolat games
Born ready games ltd
Boss baddie
Bossa studios
Brace yourself games
Brainbox software
Breakfall
Brian cronin
Brightrock games
Brilliant skies ltd
Broken rules
Bromoco games
Brytenwalda
Bs1 &amp; bsl team
Bugbear
Bugbear entertainment
Bugbyte ltd
Bulbware
Bumpkinbrothers
Burstray games
Butterscotch shenanigans
Bytebin
C3sk
Cabygon
Cadence games
Cadenza interactive
Campo santo
Camshaft software
Can explode
Candyrocketstudio
Capcom
Capcom game studio vancouver
Capcom vancouver
Capybara
Capybara games
Carbine studios
Carbon games
Cardboard keep
Carlo castellano
Carlsen games
Carmine t. guida
Castro brothers
Cat5games
Cauldron
Cavedog entertainment
Cccp
Cd projekt red
Cellar door games
Celsius game studios
Centauri production
Ceri williams
Chad close
Charyb games
Chasing carrots
Cherry pop games
Childish things
Choice of games
Chris sawyer productions
Chucklefish
Ci games
Cinemax
Cinopt studios
Cipher prime studios
Circle five studios
City interactive
Clapfoot
Clever endeavour games
Clickgames
Clickteam
Cliffhanger productions
Climax studios
Clockstone
Cm softworks
Co. ltd
Co.ltd
Coaguco industries
Cococucumber
Code headquarters llc
Code mystics
Codebrush games
Codeglue
Codemasters
Codemasters action studio
Codemasters racing
Codemasters studios
Codename entertainment inc
Code}{atch
Coffee stain studios
Cold beam games
Colibri games
Colonthree enterprises
Colossal order ltd
Comcept
Comipo! llp
Compile heart
Compulsion games
Concernedape
Conrad nelson
Core design
Coredumping
Coreplay gmbh
Corrosive studios llc
Cosmic cow llc
Counterplay games inc
Crackpot entertainment
Crackshell
Crass studios
Crate entertainment
Crazy moo games
Crazy viking studios
Creability
Creat studio
Creative assembly
Creativeforge games
Creepy cute
Crescent moon games
Crespirit
Criterion games
Critical studio
Croteam
Crowbar collective
Crows crows crows
Cryptic studios
Crystal dynamics
Crystal shard
Crytek
Crytek studios
Csr-studios
Cubed productions llc
Curve studios
Cyan worlds
Cyanide
Cyanide montreal
Cyanide studio
Cyanide studios
Cyberconnect2 co. ltd
Cyberdreams
Cybertime system
D-pad studio
Daedalic entertainment
Dagestan technology
Damaged
Dambuster studios
Damian sommer
Dan  walters
Dan fornace
Dan walters
Dancing dragon games
Daniel davies
Daniel jonathan bourke
Daniel mullins games
Daniel snd
Darius bode
Dark amber softworks
Dark artz entertainment
Dark day interactive
Dark energy digital ltd
Darkelite
Darklight games
Data realms
David mulder
David oreilly
David stark
David szymanski
Davide caio
Dawid bujak
Day 1 studios
Daybreak game company
Dead mage
Dead shark triplepunch
Deadfactory
Decent machine
Deck 13
Deck13 hamburg
Decky coss
Deconstructeam
Deep red limited
Deep silver volition
Deepred
Defence alliance team
Defiant development
Dekovir entertainment
Demiurge studios
Denis ovsyannikov
Dennaton games
Denver productions
Desert owl games llc
Destructive creations
Devespresso games
Devgru-p
Devil's details
Dharker studio
Dice
Diezelpower
Digerati distribution
Diggerworld ltd
Digital arrow
Digital confectioners
Digital dawn studios
Digital extremes
Digital furnace games
Digital leisure inc
Digital melody
Digitalmindsoft
Diminished studios
Dimmdrive inc
Dimps
Dingaling
Dingo games
Dinosaur polo club
Dischan media
Disney interactive
Dl softworks
Dns development
Doctor entertainment ab
Dodge roll
Dogenzaka lab
Dolphinbarn
Dominique grieshofer
Dontnod entertainment
Dotemu
Double action factory
Double damage games
Double eleven
Double fine productions
Double helix games
Doubledutch games
Doublesix
Dovetail games
Dr studios
Dr. kimberly voll
Dragonfly
Dream reactor
Dreamory
Dreampainters
Drinkbox studios
Droqen
Dry cactus
Ductape studio
Duelboot
Dumativa creative studio
Dylan fitterer
E-line media
Ea - maxis
Ea black box
Ea los angeles
Ea redwood shores
Eagle dynamics sa
Easyanticheat ltd
Easygamestation
Eat create sleep
Ed key and david kanaga
Edelweiss
Eden industries
Eden studios
Edge case games ltd
Edge of reality
Edmund mcmillen
Edmund mcmillen and florian himsl
Efecto studios
Eforb
Egamea game studios
Eggcode
Egosoft
Eidos montreal
Eidos studio hungary
Eidos-montréal
Eightyeightgames
Eko software
Ekuator games
Elecorn
Electrolyte
Electronic arts
Eleon game studios
Elias viglione
Elijah newman-gomez
Emily carroll
Emmanuel salva cruz
Emmett butler
Empires
Empty clip studios
Endless loop studios
Endlessfluff games
Endnight games ltd
Ensemble studios
Ensenasoft
Entity medialab
Entrada interactive llc
Epiphany games
Eqgames
Eric hartman
Erik asmussen
Erobotan
Ethrea dreams
Eugen systems
Eurocom
Europe at war development team
Evan todd
Everything unlimited ltd
Evgenii gubanov
Evgeny shcherbakov
Evil tortilla games
Exato game studios
Exato games studio
Exe games inc
Exe-create
Exor studios
Exosyphen studios
Expansive worlds
Extend studio
Extrokold games
Eyedentity games inc
Eyemobi ltd
Eyzi
Fabio ferrara
Facepunch studios
Failbetter games
Fancy bytes
Farsight studios
Farsky interactive
Fatshark
Fayju
Felistella
Feral interactive
Fiddlesticks games
Filip victor
Final boss entertainment
Final form games
Finji
Firaxis
Firaxis games
Firefly studios
Fireproof games
Fishcow studio
Fishing cactus
Fishing planet llc
Fishlabs entertainment gmbh
Fistful of frags team
Five-bn games
Fix games
Fix korea
Fixpoint productions ltd
Flashback games
Flippfly
Florian himsl
Flump studios
Flyanvil
Flying helmet games
Flying squirrel entertainment
Flying wild hog
Flyleap studios
Flyleap studios pty. ltd
Foam entertainment
Focus home interactive
Forbes  consult ltd
Forever entertainment s. a
Forgotten empires
Fortress forever development team
Four quarters
Fourbitfriday
Freakinware studios
Freakzone games
Fred wood
Free games info
Free lives
Free reign entertainment
Freebird games
Freejam
Freezenova
French-bread
Frictional games
Frogames
Frogdice
Frogwares
Fromsoftware
Frontier
Frontier developments
Frontwing
Frozenbyte
Full control
Full control studios
Fullbright
Funcom
Funselektor labs inc
Fusty game
Futuremark
G-old
G2crew
Gaijin entertainment
Gaijin entertainment corporation
Gaijin games
Galactic cafe
Galaxytrail
Gambrinous
Game in a bottle
Game mechanics
Game nation inc
Game-labs
Gameconnect
Gameguyz
Gameore
Gamepires
Gameprix
Gameus inc
Gaming minds
Gaming minds studios
Ganz
Gas powered games
Gdt limited
Gearbox software
Gemayue
Genee network
General arcade
Geniaware srl
Geoff keighley
Ghost town games ltd
Ghostshark
Giant army
Giant squid
Giants software
Ginger labs llc
Giulia airoldi
Gl33k
Glass knuckle games
Glyphx games
Gmbh
Gnisoft
Going loud studios
Goldhawk interactive
Golemlabs
Gone north games
Gord10
Gravity interactive
Gravvit ltd
Gray matter studios
Great war team
Green lava studios
Greenheart games
Gremlin interactive
Grey alien games
Grey havens
Grip games
Grynsoft
Gsc game world
Gun media
Gunfire games
Guru games
Gustavo santos
Haemimont games
Halfbus
Halissoni
Hammer labs
Hammerfall publishing
Hanako games
Handmade game
Handyman studios
Hardit singh
Hardsuit labs
Harebrained schemes
Harvester games
Hato moa
Headfirst productions
Headup games / crenetic
Heart machine
Heartbit interactive
Hellbent games
Hello games
Hello there ab
Hemisphere games
Hesketh studios
Hexage
Heydeck games
Hi-rez studios
Hidden path entertainment
High voltage software
Hinterland studio inc
Hippomancer
Hitbox team
Hitcents
Holotech studios
Holy priest
Holy warp
Home net games
Hoobalugalar_x
Hosted games
House on fire
Humble hearts llc
Humongous entertainment
Huniepot
Hunted cow studios
Hydravision entertainment
Hyper hippo games
Hyperboreangames
Hypersloth
I fight bears
Ian campbell
Ice entertainment
Ice water games
Ice-pick lodge
Icetesy sprl
Id software
Idea factory
Idhas studios
Idigicon
Idol fx
Igry.ru
Iguana entertainment
Ilex games
Illwinter game design
Imaekgames [imaek limited]
Imagecode llc
Immersive douro
In collaboration with  ubisoft shanghai
Incandescent games
Inferno games
Infinite interactive
Infinity ward
Ink stains games
Ino-co plus
Inre
Instant kingdom
Instinct games
Insurgency development team
Interaction studios
Interceptor entertainment
Interdimensional games inc
Interwave studios
Inti creates
Introversion software
Invent4 entertainment
Invertmouse
Invictus-games llc
Inxile entertainment
Io interactive
Io interactive a/s
Io-interactive a/s
Ion storm
Ionfx
Iridium studios
Ironclad games
Ironhide game studio
Irrational games
Isaac schankler
Isotx
Italic pig
Ivan zanotti's mymadness works
Ivory towerubisoft
Jagex
Jagex limited
James id
Jason rohrer
Jckslap
Jdm4ik
Je software
Jeroen van oosten
Jetcat games
Jetdogs studios
Jforce games
Jim guthrie
Jimbob games
Jiw-games
Johannes eski
John wizard
Jon sudbury games
Jonathan wood
Joni kittaka
Josh koenig (slashandz)
Joycity
Jujubee s.a
Jumpcore productions
Jussi kukkonen
K bros games
Kadokawa
Kadokawa games / grasshopper manufacture
Kalypso media digital
Kaos studios
Katauri
Katharine marsh
Kchamp games
Keen games
Keen software house
Keinart lobre
Kerberos productions
Kerberos productions inc
Kew mcparlane
Kheops studio
Kiddy
Killhouse games
Kinelco &amp; lone elk creative
Kintogames
Kitatus studios
Kitfox games
Kittehface software
Kixeye
Klace
Klei entertainment
Knuckle cracker
Kog
Koga tech limited
Kojima productions
Konami digital entertainment
Konsordo
Konstantin koshutin
Krillbite studio
Krome studios
Kudosoft
Kukouri
Kumobius
Kuno interactive
Kunst-stoff gmbh
Kverta
Kyle seeley
Kyle weik
Lab zero games
Labyrinthine
Lag studios
Lamina studios
Laminar research
Landfall
Landon podbielski
Larian studios
Laurie banks
Lavaboots studios
Lazy 8 studios
Lazy bear games
Lazy bum games
League of geeks
Lesley dodd
Lesta studio
Licorice
Lightbulb crew
Lighthouse games studio
Lightmare studios
Limasse five
Limbic entertainment
Lindsay jorgensen
Lino slahuschek
Lion game lion
Lion's shade
Lionhead studios
Lionheart creations
Little big lee
Little green men games
Locomotivah
Lonely troops
Looking glass studios
Lord kres
Loren bednar
Lost decade games
Love conquers all games
Lucasarts
Lucasfim
Lucid games
Lucky frame
Lucky girls limited
Ludeon studios
Ludosity
Lugus studios
Luigi di guida
Luis diaz
Luke cripps
Lukewarm media
Lunar giant
Lwna
M2h
Machine 22
Machine games
Machinegames
Maciej targoni
Mad otter games
Madruga works
Mages. inc
Magicaltimebean
Malfador machinations
Marbenx
Mario von rickenbach
Maschinen-mensch
Massive entertainment
Masthead studios ltd
Matt roszak
Matt thorson
Matthew brown
Matthew c cohen
Maxime vézina
Maxis™
Mechanist games
Mediatonic
Megadev
Megafuzz
Memetic games
Mercurysteam
Meridian4
Messhof
Metanet software inc
Mgame
Michael frei
Michael todd games
Michael zahniser
Michaela laws
Microblast games
Microsoft game studios
Midgar studio
Might and delight
Mighty rabbit studios
Mighty rocket studio
Mihai morosanu
Mike studios
Milan kazarka
Milestone s.r.l
Milkstone studios
Mimimi productions
Miniboss
Minmax games ltd
Minor key games
Minori
Minskworks
Mint age studios
Mirillis
Mithis games
Mixamo
Mode 7
Modern dream
Moenovel
Mohawk games
Mokus
Moment studio
Mommy's best games
Monolith
Monolith productions
Monomi park
Moon studios gmbh
Moonstone
Moppin
Mossmouth
Most wanted entertainment
Mouldy toof studios
Mountain sheep
Movingblocks
Mr-software gbr
Mr. blue
Muha games
Mura interactive
Muse games
Muzzy lane software
Myrtilus entertainment
N tailor
N3v games
Nabi studios
Nacho games
Nadeo
Naga entertainment
Namco
Namco bandai games
Ndemic creations
Necrophone games
Neko entertainment
Neko.works
Neoclassic games
Neocoregames
Nerd kingdom inc
Nerial
Net games laboratory
Netcore games
Netherrealm studios
New world interactive
Nexon
Nexon korea corp
Nfusion interactive
Ngd studios
Nick burnham
Nickervision studios
Nicolò azzolini
Night node
Night school studio
Nightdive studios
Nigoro
Nihon falcom
Nikita
Nikita online
Nimbly games
Nina freeman
Ninja kiwi
Ninja robot dinosaur
Ninja theory
Ninjalex
Nitreal
Nival
No brakes games
No more room in hell team
Noah system
Noble empire corp
Noio
Nom nom games
Nomad games
Nornware ab
North of earth
Northway games
Notgames
Nova dimension
Novalogic
Novel tea games
Numantian games
Number none
Numinous games
Nvizzio creations
Obsidian entertainment
Ocr dev team
Octoshark studios
Oddonegames
Oddworld inhabitants
Odin game studio
Offworld industries
Old b1ood
Old school games
Olli harjola
Omniconnection
Onson soft
Onur uça
Oovee® game studios
Opus
Orange_juice
Orangegames
Orbital knight
Oreol
Organic humans
Orion games
Orlyapps
Oscar brittain
Ostrich banditos
Osumia games
Other ocean interactive
Otto hantula
Outerlight ltd
Outerminds inc
Over the moon
Over the top games
Overdrive
Overhype studios
Overkill - a starbreeze studio
Overkill software
Owl cave
Owlbear
Owlchemy labs
Oxeye game studio
Pandemic studios
Panzer gaming studios
Paradox development studio
Parallaxian pty ltd
Passtech games
Pathea games
Patrick lindsey
Paul bird
Paul fisch
Payload studios
Pc port - hardlight
Pestoforce
Peter brinson and kurosh valanejad
Petit depotto
Petroglyph
Phenomenon games
Phigames
Phoenix game studio
Phosphor games studio
Phr00t's software
Pieces interactive
Pigravity
Pillowpiggames
Pinokl games
Pinterac
Pipeworks studio
Piranha bytes
Piranha games inc
Pirozhok studio
Pivotal games
Pixel dash studios
Pixelfade inc
Pixeljam
Pixeltail games
Pixowl inc
Platinumgames
Playdead
Playsaurus
Plethora-project llc
Pocketwatch games
Pokpoong games
Polar motion
Polarityflow
Polykid
Polytron corporation
Poppermost productions
Portalarium
Positech games
Postmod softworks
Power of 2
Powerhoof
Practicing01
Praxia entertainment inc
Pribuni
Primal
Priority interrupt
Prism game studios ltd
Projectorgames
Prospect games
Proton studio inc
Psychic software
Pub games
Puny human
Puppygames
Pyro studios
Q-games ltd
Qcf design
Quantic dream
Quantic dream (original release)
Question
Quickfire games
Quicktequila
Qwiboo ltd
Racing bros
Radial games corp
Radiant entertainment
Radical entertainment
Radical fish games
Ragequit corporation
Rail slave games
Rainbow games
Rainbow studios
Rake in grass
Raptor claw games
Ratloop asia
Raven software
Raven travel studios
Razorworks
Rdt.32
Re-logic
Reactor
Reactor zero
Reakktor studios
Reality pump
Reality pump studios
Realmforge studios
Rebellion
Red abyss software
Red barrels
Red duck inc
Red dwarf games
Red hook studios
Red nettle studio
Red storm entertainment
Red team games
Red thread games
Redlynx
Redlynx ltd
Redshift
Reflect studios
Reflextions
Reiza studios
Related designs
Relic
Relic entertainment
Reloaded productions
Remar games
Remedy entertainment
Renamilanesi
Reperio studios
Reto-moto
Retro yeti games
Retroism
Reverie world studios
Revolution software ltd
Rhaon entertainment
Richard seabrook
Rising star games
Rob howland
Robert zhu
Robot entertainment
Robot gentleman
Robotronic games
Robtop games
Rocket bear games
Rockstar games
Rockstar leeds
Rockstar new england
Rockstar north
Rockstar north / toronto
Rockstar san diego
Rockstar studios
Rocksteady
Rocksteady studios
Rodeo games
Rogue entertainment
Rogue factor
Rogue snail
Rohan bhukan
Roll7
Ronimo games
Room710games
Rooster teeth games
Rovio entertainment ltd
Rsupport inc
Rubycone
Rudolf kremers &amp; alex may
Rune forge
Runic games
Running with scissors
Russpuppy
Rusty lake
Ryan guanyuhao jiang
S houben
S.c. 16 bit nights s.r.l
S.r.o
S2 games
Saber interactive
Sachonski
Sad panda studios
Sakari indie
Sakari indie &amp; grin
Sakura river interactive
Sam atlas
Sam barlow
Samurai punk
Sandlot
Sandswept studios
Santa ragione
Sapphire dragon productions
Sarah northway
Sauropod studio
Schine
Scirra
Scott cawthon
Screwfly studios
Scs software
Sdenternet
Sean davy
Sebastian nigro
Secret base
Secret exit ltd
Section studios
Sector3 studios
Seethrough studios
Sega
Sega studios australia
Semaphore
Senscape
Separate game development
Serellan llc
Serenity forge
Serious brew
Sfb games
Shark punch
Shawn beck
Sherman3d
Shield break studios
Shining rock software llc
Shiro games
Shiver games
Shokunin
Shortbreak studios s.c
Shumkov dmitriy
Sigma team inc
Signal studios
Silk games
Silver dollar games
Silver wish games
Silverlode interactive
Simbin
Simogo
Simon roth
Sith
Sixteen tons entertainment
Ska studios
Sketchy logic
Skybox labs
Slant six games
Sledgehammer games
Sleepninja games
Sleepy duck
Slightly mad studios
Sluggerfly
Small impact games
Smart ghost
Smartly dressed games
Smashball labs llc
Smashgames
Smg studio
Smoking wolf
Smolders
Smoodlez
Smudged cat games ltd
Snails animation
Snapshot games inc
Snk corporation
Snoutup
Snowbird games
Snowblind studios
Snowflame
Social loner studios
Solest games
Sometimes you
Somi
Sonic team
Sorath
South east games
Southend
Souvenir circ
Soviet games
Space boat studios
Space cat studios
Spark plug games
Spark unlimited
Sparpweed
Sparsevector
Spasman games
Spearhead games
Spellbound studios
Spicy horse
Spicy tails
Spicyhorse games
Spiderling studios
Spidermonk entertainment
Spiders
Spiderweb software
Splash damage
Split polygon
Spooky squid games inc
Sports interactive
Sproing
Squad
Square enix
Stage 2 studios

In [ ]:
#guardamos en un csv los datos para la función
dff5_prueba.to_csv('Función_sentiment_analysis.csv', index=False)

In [ ]:
def sentiment_analysis( empresa_desarrolladora ): 
#Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor.
#Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}
   Negative=dff5.sentiment_analysis_0[dff5.Desarrollador==empresa_desarrolladora].iloc[0]
   Neutral=dff5.sentiment_analysis_1[dff5.Desarrollador==empresa_desarrolladora].iloc[0]
   Positive = dff5.sentiment_analysis_2[dff5.Desarrollador==empresa_desarrolladora].iloc[0]
   l= f'[Negative = {Negative}, Neutral =  {Neutral}, Positive = {Positive}]'
   return {empresa_desarrolladora:l}

In [ ]:
sentiment_analysis('Valve')

{'Valve': '[Negative = 3816, Neutral =  3816, Positive = 3816]'}