In [1]:
import pandas as pd
import numpy as np

In [2]:
#cargamos los 3 datasets que vamos a utlizzar para crear las funciones
dfjuegos=pd.read_csv('Juegos_steam.csv')
dfreviews=pd.read_csv('revies_por_usuario.csv')
dfitems=pd.read_csv('items_por_usuario.csv')

In [3]:
#def PlayTimeGenre( genero : str ): #Debe devolver año con mas horas jugadas para dicho género.
#Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [4]:
#por ahora trabajmos con los años que si tenemos datos, despues se vera el tratamiento de los años restantes
dfjuegos=dfjuegos.dropna(subset='Año_lanzamiento')

In [5]:
#hacemos una lista con los generos para poder acceder a ellos
generos=[]
gen=dfjuegos['Género'].drop_duplicates().str.strip("']['").str.split(", ",expand=True).copy()
for a in range(len(gen.columns)):
    for b in gen[a].unique():
        if b !=None:
            if b.strip("' ") not in generos:
                if b.strip("' ")!='':
                    generos.append(b.strip("' "))

In [6]:
# ordenamos por alfabeto
generos=sorted(generos)
generos

['Accounting',
 'Action',
 'Adventure',
 'Animation & Modeling',
 'Animation &amp; Modeling',
 'Audio Production',
 'Casual',
 'Design & Illustration',
 'Design &amp; Illustration',
 'Early Access',
 'Education',
 'Free to Play',
 'Game Development',
 'Indie',
 'Massively Multiplayer',
 'N/D',
 'Photo Editing',
 'RPG',
 'Racing',
 'Simulation',
 'Software Training',
 'Sports',
 'Strategy',
 'Title: Robotpencil Presents: Character Design - Horror Genre',
 'Utilities',
 'Video Production',
 'Web Publishing']

In [ ]:
#cambiaremos una columna

In [7]:
# primero sumamos las horas de cada juego en total
itemsf1=dfitems[['Id_juego','Horas_jugadas']]
dff1=itemsf1.groupby('Id_juego').sum()
dff1.head()

          Horas_jugadas
Id_juego
10             17107858
20               960524
30               756375
40               154424
50               726545

In [8]:
#añadimos las columnas de todos los generos, un genero por columna, se llena con 0 por default
for a in generos:
    dff1[a]=np.zeros(len(dff1),dtype=int)
#se agrega la columna Género al dataframe

dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation & Modeling,Animation &amp; Modeling,Audio Production,Casual,Design & Illustration,Design &amp; Illustration,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Title: Robotpencil Presents: Character Design - Horror Genre,Utilities,Video Production,Web Publishing
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,960524,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,756375,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,154424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,726545,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#agregamos la columna generos, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
Generos=['N/D' for a in range(len(dff1))]
dff1['Género']=Generos
dff1.Género

Id_juego
10        N/D
20        N/D
30        N/D
40        N/D
50        N/D
         ...
528580    N/D
528660    N/D
529670    N/D
529820    N/D
530720    N/D
Name: Género, Length: 10978, dtype: object

In [10]:
#rellenamos la columna cGénero con los generos del dataframe dfjuegos
for b,a in enumerate(dff1.index):
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        dff1.loc[a,'Género']=dfjuegos.Género[dfjuegos.Id_juego==a].iloc[0]
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation & Modeling,Animation &amp; Modeling,Audio Production,Casual,Design & Illustration,Design &amp; Illustration,...,Racing,Simulation,Software Training,Sports,Strategy,Title: Robotpencil Presents: Character Design - Horror Genre,Utilities,Video Production,Web Publishing,Género
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
20,960524,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
30,756375,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
40,154424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
50,726545,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']

In [11]:
#ahora rellenamos las columnas de cada genero, donde el genero si exista en la colomna Género
for a in generos:
    dff1.loc[dff1.Género.str.contains(a),a]=1
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation & Modeling,Animation &amp; Modeling,Audio Production,Casual,Design & Illustration,Design &amp; Illustration,...,Racing,Simulation,Software Training,Sports,Strategy,Title: Robotpencil Presents: Character Design - Horror Genre,Utilities,Video Production,Web Publishing,Género
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
20,960524,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
30,756375,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
40,154424,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
50,726545,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']

In [12]:
#agregamos la columna Año, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
años=['N/D' for a in range(len(dff1))]
dff1['Año']=años
dff1.Año

Id_juego
10        N/D
20        N/D
30        N/D
40        N/D
50        N/D
         ...
528580    N/D
528660    N/D
529670    N/D
529820    N/D
530720    N/D
Name: Año, Length: 10978, dtype: object

In [13]:
# Agregamos la columna año al dataframe de la funcion
for b,a in enumerate(dff1.index):
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        dff1.loc[a,'Año']=dfjuegos.Año_lanzamiento[dfjuegos.Id_juego==a].iloc[0]
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation & Modeling,Animation &amp; Modeling,Audio Production,Casual,Design & Illustration,Design &amp; Illustration,...,Simulation,Software Training,Sports,Strategy,Title: Robotpencil Presents: Character Design - Horror Genre,Utilities,Video Production,Web Publishing,Género,Año
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2000
20,960524,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],1999
30,756375,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2003
40,154424,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2001
50,726545,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],1999

In [14]:
dff1.columns

Index(['Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation & Modeling', 'Animation &amp; Modeling', 'Audio Production',
       'Casual', 'Design & Illustration', 'Design &amp; Illustration',
       'Early Access', 'Education', 'Free to Play', 'Game Development',
       'Indie', 'Massively Multiplayer', 'N/D', 'Photo Editing', 'RPG',
       'Racing', 'Simulation', 'Software Training', 'Sports', 'Strategy',
       'Title: Robotpencil Presents: Character Design - Horror Genre',
       'Utilities', 'Video Production', 'Web Publishing', 'Género', 'Año'],
      dtype='object')

In [15]:
#reordenamos las columnas
dff1=dff1[['Género', 'Año','Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing']]
# confirmamos orden
dff1.columns

Index(['Género', 'Año', 'Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production',
       'Web Publishing'],
      dtype='object')

In [16]:
# se hace un Dataframe vacio para guardar las columnas filtradas
dff1_final=pd.DataFrame()

In [18]:
generos

['Accounting',
 'Action',
 'Adventure',
 'Animation & Modeling',
 'Animation &amp; Modeling',
 'Audio Production',
 'Casual',
 'Design & Illustration',
 'Design &amp; Illustration',
 'Early Access',
 'Education',
 'Free to Play',
 'Game Development',
 'Indie',
 'Massively Multiplayer',
 'N/D',
 'Photo Editing',
 'RPG',
 'Racing',
 'Simulation',
 'Software Training',
 'Sports',
 'Strategy',
 'Title: Robotpencil Presents: Character Design - Horror Genre',
 'Utilities',
 'Video Production',
 'Web Publishing']

In [17]:
#se agrupa por año y genero, sumando las horas por genero en cada año
for a in generos:
    if dff1[dff1[a]==1].groupby(by=['Año']).sum()['Horas_jugadas'].array.size==0:
        continue
    else:
        dff1_final[a]=dff1[dff1[a]==1].groupby(by=['Año']).sum()['Horas_jugadas'].copy()
dff1_final

KeyError: 'Animation & Modeling'

In [ ]:
#   pasamos el año del indice a una columna
dff1_final.reset_index(inplace=True)

In [ ]:
#hacemos un dataframe vacio donde guardar las consultas finales
dff1=pd.DataFrame()

In [ ]:
generos_funcion=[]
años_funcion=[]
for a in dff1_final.drop(columns='Año').columns:
    generos_funcion.append(a)
    años_funcion.append(dff1_final[['Año',a]].sort_values(ascending=False,by=a).iloc[0,0])
print(generos_funcion)
print(años_funcion)

['Action', 'Adventure', 'Animation &amp; Modeling', 'Audio Production', 'Casual', 'Design &amp; Illustration', 'Early Access', 'Education', 'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D', 'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing']
['2012', '2011', '2015', '2014', '2015', '2012', '2013', '2013', '2013', '2006', '2013', 'N/D', '2014', '2011', '2015', '2006', '2014', '2015', 'N/D', '2014', '2015', '2012']

In [ ]:
dff1=pd.DataFrame({'Género':generos_funcion,'Año':años_funcion,})
dff1

                       Género   Año
0                      Action  2012
1                   Adventure  2011
2    Animation &amp; Modeling  2015
3            Audio Production  2014
4                      Casual  2015
5   Design &amp; Illustration  2012
6                Early Access  2013
7                   Education  2013
8                Free to Play  2013
9                       Indie  2006
10      Massively Multiplayer  2013
11                        N/D   N/D
12              Photo Editing  2014
13                        RPG  2011
14                     Racing  2015
15                 Simulation  2006
16          Software Training  2014
17                     Sports  2015
18                   Strategy   N/D
19                  Utilities  2014
20           Video Production  2015
21             Web Publishing  2012

In [ ]:
# Corregimos estos dos géneros que estaban mal escritos
dff1.loc[dff1['Género']=='Animation &amp; Modeling','Género']='Animation & Modeling'
dff1.loc[dff1['Género']=='Design &amp; Illustration','Género']='Design & Illustration'
dff1

                   Género   Año
0                  Action  2012
1               Adventure  2011
2    Animation & Modeling  2015
3        Audio Production  2014
4                  Casual  2015
5   Design & Illustration  2012
6            Early Access  2013
7               Education  2013
8            Free to Play  2013
9                   Indie  2006
10  Massively Multiplayer  2013
11                    N/D   N/D
12          Photo Editing  2014
13                    RPG  2011
14                 Racing  2015
15             Simulation  2006
16      Software Training  2014
17                 Sports  2015
18               Strategy   N/D
19              Utilities  2014
20       Video Production  2015
21         Web Publishing  2012

In [ ]:
# guardamos en un csv el datafrme listo para la funcion
dff1.to_csv('Función_PlayTimeGenre.csv',index=False)

In [ ]:
def PlayTimeGenre(genero):
    dict={}
    genero=genero.capitalize()
    mensaje="Año de lanzamiento con más horas jugadas para Género "+genero
    dict[mensaje]=dff1.Año[dff1['Género']==genero].iloc[0]
    return dict

In [ ]:
PlayTimeGenre('utilities')

{'Año de lanzamiento con más horas jugadas para Género Utilities': '2014'}

In [ ]:

#def UserForGenre( genero : str ): #Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
#Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [ ]:
# primero sumamos las horas de cada juego en total
itemsf2=dfitems[['Id_usuario','Id_juego','Horas_jugadas']]
itemsf2.head()

          Id_usuario  Id_juego  Horas_jugadas
0  76561197970982479        10              6
1  76561197970982479        20              0
2  76561197970982479        30              7
3  76561197970982479        40              0
4  76561197970982479        50              0

In [ ]:
#agregamos la columna generos, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
Generos=['N/D' for a in range(len(itemsf2))]
itemsf2.loc[:,'Género']=Generos
itemsf2.Género

0          N/D
1          N/D
2          N/D
3          N/D
4          N/D
          ...
5094087    N/D
5094088    N/D
5094089    N/D
5094090    N/D
5094091    N/D
Name: Género, Length: 5094092, dtype: object

In [ ]:
#rellenamos la columna Género con los generos del dataframe dfjuegos
for a in itemsf2.Id_juego.unique():
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        itemsf2.loc[itemsf2.Id_juego==a,'Género']=dfjuegos.Género[dfjuegos.Id_juego==a].iloc[0]

In [ ]:
#agregamos la columna Año, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
años=['N/D' for a in range(len(itemsf2))]
itemsf2['Año']=años
itemsf2.Año

0          N/D
1          N/D
2          N/D
3          N/D
4          N/D
          ...
5094087    N/D
5094088    N/D
5094089    N/D
5094090    N/D
5094091    N/D
Name: Año, Length: 5094092, dtype: object

In [ ]:
# rellenamos la columna año en el dataframe de la funcion 2
for a in itemsf2.Id_juego.unique():
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        itemsf2.loc[itemsf2.Id_juego==a,'Año']=dfjuegos.Año_lanzamiento[dfjuegos.Id_juego==a].iloc[0]
itemsf2.head()

          Id_usuario  Id_juego  Horas_jugadas      Género   Año
0  76561197970982479        10              6  ['Action']  2000
1  76561197970982479        20              0  ['Action']  1999
2  76561197970982479        30              7  ['Action']  2003
3  76561197970982479        40              0  ['Action']  2001
4  76561197970982479        50              0  ['Action']  1999

In [ ]:
#añadimos las columnas de todos los generos, un genero por columna, se llena con 0 por default
for a in generos:
   itemsf2[a]=np.zeros(len(itemsf2),dtype=int)
#se agrega la columna Género al dataframe

itemsf2.head()

,Id_usuario,Id_juego,Horas_jugadas,Género,Año,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,10,6,['Action'],2000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,76561197970982479,20,0,['Action'],1999,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,76561197970982479,30,7,['Action'],2003,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,76561197970982479,40,0,['Action'],2001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76561197970982479,50,0,['Action'],1999,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#ahora rellenamos las columnas de cada genero, donde el genero si exista en la colomna Género
for a in generos:
    itemsf2.loc[itemsf2.Género.str.contains(a),a]=1
itemsf2.head()

,Id_usuario,Id_juego,Horas_jugadas,Género,Año,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,10,6,['Action'],2000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,76561197970982479,20,0,['Action'],1999,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,76561197970982479,30,7,['Action'],2003,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,76561197970982479,40,0,['Action'],2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76561197970982479,50,0,['Action'],1999,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
itemsf2=itemsf2[['Id_usuario', 'Id_juego', 'Horas_jugadas', 'Género',
       'Año', 'Accounting',
       'Action', 'Adventure', 'Animation &amp; Modeling', 'Audio Production',
       'Casual', 'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing']]
itemsf2.head()

,Id_usuario,Id_juego,Horas_jugadas,Género,Año,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,10,6,['Action'],2000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,76561197970982479,20,0,['Action'],1999,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,76561197970982479,30,7,['Action'],2003,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,76561197970982479,40,0,['Action'],2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76561197970982479,50,0,['Action'],1999,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# se crea un dataframe vacio para guardar las columnas agrupadas
dff2=pd.DataFrame()

In [ ]:
#se agrupa por año y genero, sumando las horas por genero en cada año
for a in generos:
    if itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario','Año']).sum()['Horas_jugadas'].array.size==0:
        continue
    else:
        dftemp1=pd.DataFrame(itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario','Año']).sum()['Horas_jugadas']).reset_index()
        dftemp2=pd.DataFrame(itemsf2[itemsf2[a]==1].groupby(by=['Id_usuario']).sum()['Horas_jugadas']).reset_index()
        usuario=dftemp2.sort_values(by='Horas_jugadas',ascending=False).iloc[0,0]
        genero=[a for b in range(len(dftemp1[dftemp1.Id_usuario==usuario]))]
        dftemp3=dftemp1[dftemp1.Id_usuario==usuario].copy()
        dftemp3.loc[:,'Género']=genero
        

        dff2=pd.concat([dff2,dftemp3])
dff2

               Id_usuario   Año  Horas_jugadas  genero            Género
504792            Sp3ctre  1993              0  Action               NaN
504793            Sp3ctre  1995            217  Action               NaN
504794            Sp3ctre  1996              0  Action               NaN
504795            Sp3ctre  1998              0  Action               NaN
504796            Sp3ctre  1999             44  Action               NaN
...                   ...   ...            ...     ...               ...
2120    76561198073642113  2014         207651     NaN         Utilities
2682           ScottyG555  2015         168314     NaN  Video Production
2381              Xyphien  2005           7296     NaN    Web Publishing
2382              Xyphien  2012          64657     NaN    Web Publishing
2383              Xyphien  2015          71011     NaN    Web Publishing

[362 rows x 5 columns]

In [ ]:
dff2.drop(index=dff2[dff2.Género=='N/D'].index,inplace=True)
dff2.drop(index=dff2[dff2.Año=='N/D'].index,inplace=True)

Empty DataFrame
Columns: [Id_usuario, Año, Horas_jugadas, genero, Género]
Index: []

In [ ]:
l1=[]
for a in dff2.loc[dff2.Género=='Action','Año']:
    if dff2.loc[(dff2.Año==a)&(dff2.Género=='Action'),'Horas_jugadas'].iloc[0]==0:
        continue
    else:
        horas=dff2.loc[(dff2.Año==a)&(dff2.Género=='Action'),'Horas_jugadas'].iloc[0]
        l1.append({'Año':int(a),'Horas':horas})
usuario=dff2.Id_usuario[dff2.Género=='Action'].unique()[0]
#"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}
print(f'"Usuario con más horas jugadas para Género Action: {usuario} Horas jugadas:{l1}"')

"Usuario con más horas jugadas para Género Action: Sp3ctre Horas jugadas:[{'Año': 1995, 'Horas': 217}, {'Año': 1999, 'Horas': 44}, {'Año': 2000, 'Horas': 70644}, {'Año': 2001, 'Horas': 13}, {'Año': 2002, 'Horas': 238}, {'Año': 2003, 'Horas': 7673}, {'Año': 2004, 'Horas': 127411}, {'Año': 2005, 'Horas': 21339}, {'Año': 2006, 'Horas': 896}, {'Año': 2007, 'Horas': 112784}, {'Año': 2008, 'Horas': 224}, {'Año': 2009, 'Horas': 108326}, {'Año': 2010, 'Horas': 78083}, {'Año': 2011, 'Horas': 154896}, {'Año': 2012, 'Horas': 378296}, {'Año': 2013, 'Horas': 120461}, {'Año': 2014, 'Horas': 130691}, {'Año': 2015, 'Horas': 312512}, {'Año': 2016, 'Horas': 29576}, {'Año': 2017, 'Horas': 43327}]"

In [ ]:
def UserForGenre(genero):
    genero=genero.capitalize()
    l1=[]
    for a in dff2.loc[dff2.Género==genero,'Año']:
        if dff2.loc[(dff2.Año==a)&(dff2.Género==genero),'Horas_jugadas'].iloc[0]==0:
            continue
        else:
            horas=dff2.loc[(dff2.Año==a)&(dff2.Género==genero),'Horas_jugadas'].iloc[0]
            l1.append({'Año':int(a),'Horas':horas})
    usuario=dff2.Id_usuario[dff2.Género==genero].unique()[0]

    return f'"Usuario con más horas jugadas para Género {genero}": {usuario} Horas jugadas:{l1}"'

In [ ]:
UserForGenre('action')

'"Usuario con más horas jugadas para Género Action": Sp3ctre Horas jugadas:[{\'Año\': 1995, \'Horas\': 217}, {\'Año\': 1999, \'Horas\': 44}, {\'Año\': 2000, \'Horas\': 70644}, {\'Año\': 2001, \'Horas\': 13}, {\'Año\': 2002, \'Horas\': 238}, {\'Año\': 2003, \'Horas\': 7673}, {\'Año\': 2004, \'Horas\': 127411}, {\'Año\': 2005, \'Horas\': 21339}, {\'Año\': 2006, \'Horas\': 896}, {\'Año\': 2007, \'Horas\': 112784}, {\'Año\': 2008, \'Horas\': 224}, {\'Año\': 2009, \'Horas\': 108326}, {\'Año\': 2010, \'Horas\': 78083}, {\'Año\': 2011, \'Horas\': 154896}, {\'Año\': 2012, \'Horas\': 378296}, {\'Año\': 2013, \'Horas\': 120461}, {\'Año\': 2014, \'Horas\': 130691}, {\'Año\': 2015, \'Horas\': 312512}, {\'Año\': 2016, \'Horas\': 29576}, {\'Año\': 2017, \'Horas\': 43327}]"'

In [ ]:
def UsersRecommend( año : int ): #Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [ ]:
def UsersWorstDeveloper( año : int ): #Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [ ]:
def sentiment_analysis( empresa desarrolladora : str ): #Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor.
#Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}