In [363]:
import pandas as pd
import numpy as np

In [364]:
#cargamos los 3 datasets que vamos a utlizzar para crear las funciones
dfjuegos=pd.read_csv('Juegos_steam.csv')
dfreviews=pd.read_csv('revies_por_usuario.csv')
dfitems=pd.read_csv('items_por_usuario.csv')

In [365]:
#def PlayTimeGenre( genero : str ): #Debe devolver año con mas horas jugadas para dicho género.
#Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [366]:
dfjuegos['Género']

0        ['Action', 'Casual', 'Indie', 'Simulation', 'S...
1             ['Free to Play', 'Indie', 'RPG', 'Strategy']
2        ['Casual', 'Free to Play', 'Indie', 'Simulatio...
3                        ['Action', 'Adventure', 'Casual']
4                          Action, Indie, Casual, Sports,
                               ...
32127        ['Casual', 'Indie', 'Simulation', 'Strategy']
32128                      ['Casual', 'Indie', 'Strategy']
32129                    ['Indie', 'Racing', 'Simulation']
32130                                  ['Casual', 'Indie']
32131    Early Access, Adventure, Indie, Action, Simula...
Name: Género, Length: 32132, dtype: object

In [367]:
#por ahora trabajmos con los años que si tenemos datos, despues se vera el tratamiento de los años restantes
dfjuegos=dfjuegos.dropna(subset='Año_lanzamiento')

In [368]:
#hacemos una lista con los generos para poder acceder a ellos
generos=[]
gen=dfjuegos['Género'].drop_duplicates().str.strip("']['").str.split(", ",expand=True).copy()
for a in range(len(gen.columns)):
    for b in gen[a].unique():
        if b !=None:
            if b.strip("' ") not in generos:
                if b.strip("' ")!='':
                    generos.append(b.strip("' "))

In [369]:
# ordenamos por alfabeto
generos=sorted(generos)
generos

['Accounting',
 'Action',
 'Adventure',
 'Animation &amp; Modeling',
 'Audio Production',
 'Casual',
 'Design &amp; Illustration',
 'Early Access',
 'Education',
 'Free to Play',
 'Indie',
 'Massively Multiplayer',
 'N/D',
 'Photo Editing',
 'RPG',
 'Racing',
 'Simulation',
 'Software Training',
 'Sports',
 'Strategy',
 'Utilities',
 'Video Production',
 'Web Publishing']

In [370]:
# primero sumamos las horas de cada juego en total
itemsf1=dfitems[['Id_juego','Horas_jugadas']]
dff1=itemsf1.groupby('Id_juego').sum()
dff1.head()

          Horas_jugadas
Id_juego
10             17107858
20               960524
30               756375
40               154424
50               726545

In [371]:
#añadimos las columnas de todos los generos, un genero por columna, se llena con 0 por default
for a in generos:
    dff1[a]=np.zeros(len(dff1),dtype=int)
#se agrega la columna Género al dataframe

dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,960524,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,756375,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,154424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,726545,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [372]:
#agregamos la columna generos, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
Generos=['N/D' for a in range(len(dff1))]
dff1['Género']=Generos
dff1.Género

Id_juego
10        N/D
20        N/D
30        N/D
40        N/D
50        N/D
         ...
528580    N/D
528660    N/D
529670    N/D
529820    N/D
530720    N/D
Name: Género, Length: 10978, dtype: object

In [373]:
#rellenamos la columna cGénero con los generos del dataframe dfjuegos
for b,a in enumerate(dff1.index):
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        dff1.loc[a,'Género']=dfjuegos.Género[dfjuegos.Id_juego==a].iloc[0]
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Género
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
20,960524,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
30,756375,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
40,154424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
50,726545,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']

In [374]:
dff1.loc[dff1.Género.str.contains('Action'),'Action']

Id_juego
10        0
20        0
30        0
40        0
50        0
         ..
526460    0
527340    0
527520    0
527810    0
528660    0
Name: Action, Length: 3878, dtype: int32

In [375]:
#ahora rellenamos las columnas de cada genero, donde el genero si exista en la colomna Género
for a in generos:
    dff1.loc[dff1.Género.str.contains(a),a]=1
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Género
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
20,960524,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
30,756375,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
40,154424,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']
50,726545,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,['Action']

In [376]:
#agregamos la columna Año, y rellenamos con 'N/D' por default, en caso que haya ids que no esten en nuestro dataset de juegos
años=['N/D' for a in range(len(dff1))]
dff1['Año']=años
dff1.Año

Id_juego
10        N/D
20        N/D
30        N/D
40        N/D
50        N/D
         ...
528580    N/D
528660    N/D
529670    N/D
529820    N/D
530720    N/D
Name: Año, Length: 10978, dtype: object

In [377]:
# Agregamos la columna año al dataframe de la funcion
for b,a in enumerate(dff1.index):
    if dfjuegos.Id_juego[dfjuegos.Id_juego==a].array.size>0:
        dff1.loc[a,'Año']=dfjuegos.Año_lanzamiento[dfjuegos.Id_juego==a].iloc[0]
dff1.head()

,Horas_jugadas,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,...,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Género,Año
Id_juego,,,,,,,,,,,,,,,,,,,,,
10,17107858,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2000
20,960524,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],1999
30,756375,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2003
40,154424,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],2001
50,726545,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,['Action'],1999

In [378]:
dff1.columns

Index(['Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing',
       'Género', 'Año'],
      dtype='object')

In [379]:
#reordenamos las columnas
dff1=dff1[['Género', 'Año','Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing']]
# confirmamos orden
dff1.columns

Index(['Género', 'Año', 'Horas_jugadas', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D',
       'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training',
       'Sports', 'Strategy', 'Utilities', 'Video Production',
       'Web Publishing'],
      dtype='object')

In [380]:
dff1_final=pd.DataFrame()

In [387]:
for a in generos:
    if dff1[dff1[a]==1].groupby(by=['Año']).sum()['Horas_jugadas'].array.size==0:
        continue
    else:
        dff1_final[a]=dff1[dff1[a]==1].groupby(by=['Año']).sum()['Horas_jugadas'].copy()
dff1_final

,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,Indie,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
Año,,,,,,,,,,,,,,,,,,,,,
1983,3473,3473.0,NaN,NaN,3473.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,384,384.0,NaN,NaN,384.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,16001,29963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13962.0,...,NaN,13962.0,NaN,1.0,NaN,NaN,13962.0,NaN,NaN,NaN
1989,607,9311.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5084.0,NaN,NaN,NaN,NaN,NaN,NaN
1990,18335,5492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1926.0,NaN,NaN,60.0,NaN,NaN,NaN
1991,2502,1722.0,NaN,NaN,1355.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,144.0,NaN,NaN,0.0,NaN,NaN,NaN
1992,1925,23795.0,NaN,NaN,2492.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2164.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1993,24623,46772.0,NaN,NaN,22039.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,65.0,NaN,NaN,182863.0,NaN,NaN,NaN
1994,120177,15890.0,NaN,NaN,45975.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2092.0,289.0,9351.0,NaN,NaN,1169.0,NaN,NaN,NaN
1995,216144,10026.0,NaN,NaN,3553.0,NaN,NaN,NaN,NaN,3168.0,...,NaN,NaN,31004.0,980.0,NaN,31004.0,55227.0,NaN,NaN,NaN
1996,67844,104199.0,NaN,NaN,30585.0,NaN,NaN,NaN,127.0,570.0,...,NaN,25354.0,1202.0,1918.0,NaN,NaN,8468.0,NaN,NaN,NaN
1997,359836,324405.0,NaN,NaN,32521.0,NaN,NaN,NaN,NaN,64285.0,...,NaN,359624.0,9319.0,4979.0,NaN,NaN,133571.0,NaN,NaN,NaN
1998,2899116,178831.0,NaN,NaN,12958.0,NaN,NaN,NaN,NaN,19957.0,...,NaN,378188.0,15130.0,107137.0,NaN,NaN,26109.0,NaN,NaN,NaN
1999,2715157,7735.0,NaN,NaN,632929.0,NaN,NaN,NaN,627007.0,627007.0,...,NaN,331133.0,32.0,129301.0,NaN,NaN,574941.0,NaN,NaN,NaN
2000,18373322,105121.0,NaN,NaN,53118.0,NaN,NaN,NaN,NaN,5304.0,...,NaN,68707.0,3015.0,69431.0,NaN,NaN,46519.0,NaN,NaN,NaN
2001,1326310,50619.0,NaN,NaN,6243.0,NaN,NaN,NaN,4965.0,88452.0,...,NaN,120226.0,NaN,247908.0,NaN,NaN,941295.0,NaN,NaN,NaN
2002,732102,184447.0,NaN,NaN,61612.0,NaN,NaN,NaN,NaN,37884.0,...,NaN,1783174.0,NaN,353361.0,NaN,NaN,485452.0,NaN,NaN,NaN
2003,11893403,5189429.0,NaN,NaN,3048.0,NaN,NaN,NaN,5995099.0,2127360.0,...,NaN,9030839.0,30957.0,1358139.0,NaN,NaN,7333055.0,NaN,NaN,NaN
2004,129693956,96149.0,NaN,NaN,24217.0,NaN,NaN,NaN,NaN,43179.0,...,NaN,72098.0,3477.0,135928.0,NaN,NaN,3686382.0,NaN,NaN,NaN
2005,12264943,206433.0,NaN,NaN,40708.0,NaN,NaN,NaN,66729.0,336400.0,...,NaN,3145877.0,215392.0,175020.0,NaN,69758.0,1011928.0,NaN,NaN,93844.0
2006,10814626,245791.0,NaN,NaN,236277.0,NaN,NaN,NaN,2561487.0,446115272.0,...,173.0,1838437.0,426125.0,444536391.0,NaN,11182.0,17226204.0,382929.0,173.0,NaN
2007,17530208,399173.0,NaN,11058.0,729521.0,11058.0,NaN,NaN,212490.0,1340117.0,...,11058.0,9463324.0,583348.0,1404881.0,NaN,1308.0,3157655.0,11058.0,11058.0,11058.0
2008,33539669,3276314.0,2058.0,NaN,572072.0,2058.0,NaN,2058.0,215519.0,5255612.0,...,NaN,10326511.0,2410743.0,4689182.0,2058.0,97528.0,8111475.0,2058.0,NaN,NaN
2009,163833683,6768510.0,NaN,NaN,936817.0,NaN,NaN,NaN,2341944.0,3809521.0,...,NaN,25630479.0,2397456.0,16287495.0,NaN,249680.0,31776974.0,NaN,NaN,NaN
2010,180087364,24901044.0,NaN,NaN,4776946.0,NaN,NaN,1158.0,8595010.0,8533237.0,...,NaN,91569545.0,2041063.0,41737093.0,0.0,2376640.0,140951442.0,NaN,NaN,NaN
2011,331871395,221880701.0,NaN,NaN,5981880.0,NaN,NaN,NaN,43168127.0,225373412.0,...,NaN,227959458.0,2526828.0,16347108.0,NaN,924685.0,34513058.0,NaN,NaN,NaN
2012,1085802512,73573682.0,17914.0,NaN,20362233.0,1930339.0,3225527.0,NaN,115267827.0,123173703.0,...,2678.0,163452607.0,995589.0,28987538.0,NaN,3514560.0,85583781.0,10338.0,4010.0,1930339.0
2013,415522341,151011680.0,434433.0,73161.0,12912528.0,292803.0,118902893.0,340567.0,146213843.0,177347760.0,...,NaN,125103114.0,4724202.0,109036269.0,98765.0,6192179.0,145266750.0,651457.0,224132.0,333678.0
2014,166959854,70193376.0,79513.0,455463.0,25197424.0,192637.0,11239202.0,22532.0,40654591.0,92187221.0,...,61659.0,81853101.0,5536892.0,37299036.0,412697.0,5427205.0,50329171.0,2711695.0,484437.0,33641.0
2015,261969720,180604982.0,1345545.0,5060.0,81718508.0,1534013.0,13535672.0,36083.0,128669922.0,173625481.0,...,670.0,151609931.0,37475029.0,91871406.0,36605.0,41307129.0,82204354.0,578466.0,1662650.0,348673.0
2016,95811160,62138470.0,114708.0,459.0,43799566.0,112605.0,9743521.0,2324.0,23297952.0,89577552.0,...,38264.0,56060243.0,3616311.0,36025653.0,481.0,4693674.0,31322403.0,116300.0,1380.0,136.0
2017,126334352,92832682.0,NaN,NaN,50922548.0,21.0,34195.0,9382.0,86235439.0,125594175.0,...,NaN,67535068.0,116167.0,24432495.0,9382.0,22871.0,5863943.0,9403.0,NaN,9382.0
2018,2224,21.0,NaN,NaN,NaN,NaN,6127.0,NaN,NaN,2326.0,...,NaN,3822.0,NaN,2203.0,NaN,NaN,NaN,NaN,NaN,NaN
Not yet available,1489,NaN,NaN,NaN,NaN,NaN,1489.0,NaN,NaN,1489.0,...,NaN,NaN,NaN,1489.0,NaN,NaN,NaN,NaN,NaN,NaN
TBD,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [388]:
#   pasamos el año del indice a una columna
dff1_final.reset_index(inplace=True)

In [391]:
#hacemos un dataframe vacio donde guardar las consultas finales
dff1=pd.DataFrame()

In [450]:
generos_funcion=[]
años_funcion=[]
for a in dff1_final.drop(columns='Año').columns:
    generos_funcion.append(a)
    años_funcion.append(dff1_final[['Año',a]].sort_values(ascending=False,by=a).iloc[0,0])
print(generos_funcion)
print(años_funcion)

['Action', 'Adventure', 'Animation &amp; Modeling', 'Audio Production', 'Casual', 'Design &amp; Illustration', 'Early Access', 'Education', 'Free to Play', 'Indie', 'Massively Multiplayer', 'N/D', 'Photo Editing', 'RPG', 'Racing', 'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities', 'Video Production', 'Web Publishing']
['2012', '2011', '2015', '2014', '2015', '2012', '2013', '2013', '2013', '2006', '2013', '2011', '2014', '2011', '2015', '2006', '2014', '2015', '2013', '2014', '2015', '2012']

In [455]:
dff1=pd.DataFrame({'Género':generos_funcion,'Año':años_funcion,})
dff1

                       Género   Año
0                      Action  2012
1                   Adventure  2011
2    Animation &amp; Modeling  2015
3            Audio Production  2014
4                      Casual  2015
5   Design &amp; Illustration  2012
6                Early Access  2013
7                   Education  2013
8                Free to Play  2013
9                       Indie  2006
10      Massively Multiplayer  2013
11                        N/D  2011
12              Photo Editing  2014
13                        RPG  2011
14                     Racing  2015
15                 Simulation  2006
16          Software Training  2014
17                     Sports  2015
18                   Strategy  2013
19                  Utilities  2014
20           Video Production  2015
21             Web Publishing  2012

In [456]:
# guardamos en un csv el datafrme listo para la funcion
dff1.to_csv('Función_PlayTimeGenre.csv',index=False)

In [ ]:

def UserForGenre( genero : str ): #Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
#Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [ ]:
def UsersRecommend( año : int ): #Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [ ]:
def UsersWorstDeveloper( año : int ): #Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [ ]:
def sentiment_analysis( empresa desarrolladora : str ): #Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor.
#Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}